<!--
__author__  = "Jeff White [karttoon] @noottrak"
__email__   = "jwhite@paloaltonetworks.com"
__version__ = "1.0.2"
__date__    = "12JUN2018"
-->

{% if report.analysis.curtain %}
    {% for pid,dict in report.analysis.curtain.items %}
        <div class="panel panel-default">
            <div class="panel-heading">
                PID: {{pid}} -
                {% for entry in dict.behaviors %}
                    <a class="btn btn-primary btn-xs">{{ entry }}</a>
                {% endfor %}
            </div>
            <div class="panel-body">
                {% for entry in dict.events %}
                    {% for event,message in entry.items %}
                        <b>Event: {{ event }}</b>
                        <pre>{{ message.original|linebreaksbr }}</pre>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}