{% load staticfiles %}

<!-- The actual dialog -->
<dialog class="rdp-dialog" id="rdp-dialog">
  <div class="rdp-dialog__body"></div>
</dialog>

<!-- html for the reboot dialog  -->
<template id="rdp-dialog-reboot">
  <h4 class="rdp-dialog__title">Are you sure you want to <strong>reboot</strong>?</h4>
  <p class="rdp-dialog__text">Your current changes will be lost.</p>

  <form class="rdp-dialog__options">
    <button value="cancel" type="submit">Cancel</button>
    <button value="proceed" type="submit">Reboot</button>
  </form>

</template>

<!-- html for the close dialog  -->
<template id="rdp-dialog-close">
  <h4 class="rdp-dialog__title">Are you sure you want to <strong>close</strong>?</h4>
  <p class="rdp-dialog__text">Your current changes will be lost.</p>

  <form class="rdp-dialog__options">
    <button value="cancel" type="submit">Cancel</button>
    <button value="proceed" type="submit">Close</button>
  </form>

</template>

<!-- html for the snapshots dialog  -->
<template id="rdp-dialog-snapshots">
  <h4 class="rdp-dialog__title">You made <strong data-model="total">0</strong> manual screenshots during this session</h4>
  <p class="rdp-dialog__text">Please select the ones to include in the analysis.</p>

  <form id="snapshot-selection-form">
    <ul class="rdp-snapshot-selection">
      <li>
        <label for="snapshot-1">
          <input type="checkbox" name="snapshot-selection[]" value="1" id="snapshot-1" checked />
          <span class="snapshot-selection-image">
            <img src="{% static 'graphic/screenshot-sample.png' %}" alt="snapshot-1" />
          </span>
        </label>
      </li>
      <li>
        <label for="snapshot-2">
          <input type="checkbox" name="snapshot-selection[]" value="2" id="snapshot-2" />
          <span class="snapshot-selection-image">
            <img src="{% static 'graphic/screenshot-sample.png' %}" alt="snapshot-2" />
          </span>
        </label>
      </li>
      <li>
        <label for="snapshot-3">
          <input type="checkbox" name="snapshot-selection[]" value="3" id="snapshot-3" />
          <span class="snapshot-selection-image">
            <img src="{% static 'graphic/screenshot-sample.png' %}" alt="snapshot-3" />
          </span>
        </label>
      </li>
    </ul>
  </form>

  <form class="rdp-dialog__options">
    <button value="cancel" type="submit">Skip and close</button>
    <button value="proceed" type="submit">Include <span data-model="selected">0</span> screenshot(s) and close.</button>
  </form>

</template>
