<section id="network">
    <div class="section-title">
        <h3>Network Analysis <small>network activity performed during analysis</small></h3>
    </div>
    {% if results.network %}
        {% if results.network.hosts %}
            <div>
                <h4><a href="javascript:showHide('hosts');">Hosts Involved</a></h4>
                <div id="hosts" style="display: none;">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>IP Address</th>
                        </tr>
                        {% for host in results.network.hosts %}
                        <tr>
                            <td><span class="mono">{{host}}</span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if results.network.dns %}
        <div>
            <h4><a href="javascript:showHide('dns');">DNS Requests</a></h4>
            <div id="dns" style="display: none;">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Hostname</th>
                        <th>IP Address</th>
                    </tr>
                    {% for dns in results.network.dns %}
                    <tr>
                        <td><span class="mono">{{dns.hostname}}</span></td>
                        <td><span class="mono">{{dns.ip}}</span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}

        {% if results.network.http %}
        <div>
            <h4><a href="javascript:showHide('http');">HTTP Requests</a></h4>
            <div id="http" style="display: none;">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>URL</th>
                        <th>Data</th>
                    </tr>
                    {% for http in results.network.http %}
                    <tr>
                        <td><span class="mono">{{http.uri}}</span></td>
                        <td><span class="mono"><pre>{{http.data}}</pre></span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    {% else %}
        Nothing to display.
    {% endif %}
</section>