<section id="signatures">
    <div class="section-title">
        <h4>Signatures</h4>
    </div>
    {% if results.signatures %}
        {% for sign in results.signatures %}
            {% if sign.severity == 1 %}
                <div class="alert alert-success signature">
            {% elif sign.severity == 2 %}
                <div class="alert alert-warning signature">
            {% elif sign.severity >= 3 %}
                <div class="alert alert-error signature">
            {% else %}
                <div class="alert alert-info signature">
            {% endif %}
            <b>{{sign.description}}</b>
            </div>
        {% endfor %}
    {% else %}
        No signatures matched
    {% endif %}
</section>
