<section id="file">
    <h4><span class="glyphicon glyphicon-file" aria-hidden="true"></span> File Details</h4>
    <div class="panel panel-default">
        <table class="table table-striped">
            <tr>
                <th>MD5</th>
                <td>{{analysis.target.file.md5}}</td>
            </tr>
            <tr>
                <th>SHA1</th>
                <td>{{analysis.target.file.sha1}}</td>
            </tr>
            <tr>
                <th>SHA256</th>
                <td>{{analysis.target.file.sha256}}</td>
            </tr>
            <tr>
                <th>SHA512</th>
                <td>{{analysis.target.file.sha512}}</td>
            </tr>
            <tr>
                <th>CRC32</th>
                <td>{{analysis.target.file.crc32}}</td>
            </tr>
            <tr>
                <th>Ssdeep</th>
                <td>{{analysis.target.file.ssdeep}}</td>
            </tr>
            {% if analysis.static.pdb_path %}
            <tr>
                <th>PDB Path</th>
                <td>{{analysis.static.pdb_path}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Yara</th>
                <td>
                {% if analysis.target.file.yara %}
                    <ul style="margin-bottom: 0;">
                    {% for sign in analysis.target.file.yara %}
                        <li>{{sign.name}} - {{sign.meta.description}}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    None matched
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
</section>
