<section id="information">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Analysis</h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Duration</th>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{analysis.info.category|upper}}</td>
                    <td>{{analysis.info.started}}</td>
                    <td>{{analysis.info.ended}}</td>
                    <td>{{analysis.info.duration}} seconds</td>
                    <td><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#info-log">Show Log</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if analysis.debug.errors %}
        <ul style="font-size: 16px;">
        {% for error in analysis.debug.errors %}
            <li class="text-danger"><b>Error:</b> {{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div id="info-log" class="collapse">
        <pre>{{analysis.debug.log}}</pre>
    </div>
</section>

{% if analysis.info.machine and analysis.info.machine.name %}
    <section id="machine">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">Machine</h4>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Label</th>
                        <th>Manager</th>
                        <th>Started On</th>
                        <th>Shutdown On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{analysis.info.machine.name}}</td>
                        <td>{{analysis.info.machine.label}}</td>
                        <td>{{analysis.info.machine.manager}}</td>
                        <td>{{analysis.info.machine.started_on}}</td>
                        <td>{{analysis.info.machine.shutdown_on}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
    </section>
{% endif %}