<section id="screenshots">
    <h4><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Screenshots</h4>
    {% if analysis.shots %}
        <div>
        {% for shot in analysis.shots %}
            <a data-lightbox="screenshot" href="{% url "analysis.views.file" "screenshot" shot %}">
                <img class="opaque screenshot" src="{% url "analysis.views.file" "screenshot" shot %}" style="height: 120px;" />
            </a>
        {% endfor %}
        </div>
    {% else %}
        No screenshots available.
    {% endif %}
</section>
