<div class="row">
<div class="col-md-7">
    {% if analysis.info.category == "file" and analysis.target %}
        {% include "analysis/overview/_file-summary.html" %}
    {% elif analysis.info.category == "url" %}
        {% include "analysis/overview/_url.html" %}
    {% endif %}
</div>
<div class="col-md-5">
<h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Score</h4>
{% if analysis.info.score < 1 %}
    <div class="alert alert-success">
        This {{ analysis.info.category }} appears fairly benign with a score
        of <strong>{{ analysis.info.score }} out of 10.</strong>
{% elif analysis.info.score < 2 %}
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> This {{ analysis.info.category }} shows some signs of potential
        malicious behavior.
        <br/><br/>
        The score of this {{ analysis.info.category}} is <strong>{{ analysis.info.score }} out of 10.</strong>
{% elif analysis.info.score < 5 %}
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> This {{ analysis.info.category }} shows real signs of malicious
        behavior.
        <br/><br/>
        The score of this {{ analysis.info.category}} is <strong>{{ analysis.info.score }} out of 10.</strong>
{% else %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> This {{ analysis.info.category }} is definitely malicious with a score
        of <strong>{{ analysis.info.score }} out of 10!</strong>
        You should <strong>NOT</strong> open this {{ analysis.info.category }}
        on a production system.
{% endif %}

    </div>
    <p>
    <b><span class="label label-warning">Disclaimer</span></b></br>
        The scoring system is currently still in development and should be considered alpha-quality.
        It is not a reliable indicator for malicious activity. Make sure to verify any verdict, especially for supposedly benign files!
    </p>
</div>
</div>

{% include "analysis/overview/_info.html" %}

<div class="row">
<div class="col-md-12">
{% include "analysis/overview/_signatures.html" %}
</div>
<div class="col-md-12">
{% include "analysis/overview/_screenshots.html" %}
</div>
</div>

<div class="row">
    <div class="col-xs-6">{% include "analysis/network/_hosts.html" %}</div>
    <div class="col-xs-6">{% include "analysis/network/_dns.html" %}</div>
</div>

{% include "analysis/overview/_summary.html" %}
