language: python

python:
    - 2.7

env:
  - ONLYINSTALL=yes

services:
  - mongodb
  - mysql
  - postgresql

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install python-dev python-libvirt libffi-dev libssl-dev
  - sudo apt-get install libjpeg-dev swig libpq-dev libmysqlclient-dev

  - sudo mysql -e "CREATE USER cuckoo@localhost IDENTIFIED BY 'cuckoo'"
  - sudo mysql -e "GRANT ALL PRIVILEGES ON * . * TO cuckoo@localhost"
  - sudo mysql -e "FLUSH PRIVILEGES"
  - sudo mysql -e "CREATE DATABASE cuckootest"
  - sudo mysql -e "CREATE DATABASE cuckootest060"
  - sudo mysql -e "CREATE DATABASE cuckootest11"
  - sudo mysql -e "CREATE DATABASE distcuckootest"
  - psql -U postgres -c "CREATE USER cuckoo WITH PASSWORD 'cuckoo'"
  - psql -U postgres -c "CREATE DATABASE cuckootest"
  - psql -U postgres -c "CREATE DATABASE cuckootest060"
  - psql -U postgres -c "CREATE DATABASE cuckootest11"
  - psql -U postgres -c "CREATE DATABASE distcuckootest"

  - sudo mysql -e "CREATE DATABASE cuckootestimport"
  - sudo mysql cuckootestimport < tests/files/sql/11my.sql
  - psql -U postgres -c "CREATE DATABASE cuckootestimport"
  - psql -U postgres cuckootestimport <tests/files/sql/11pg.sql >/dev/null

install:
  - pip install -U pip setuptools
  - python setup.py develop
  - pip install psycopg2 mysql-python yara-python==3.5.0
  - pip install pytest pytest-cov codecov coveralls weasyprint

  # Fetch monitor & stuff which is required for CWD migration tests.
  - python stuff/monitor.py

script:
  # Create the Cuckoo Working Directory.
  - cuckoo -d

  # Download Cuckoo Signatures.
  - cuckoo community

  # Check the code integrity of the Signatures by running Cuckoo.
  - cuckoo -d 2>&1|grep "Unable to bind ResultServer"

  # Run tests from the "tests" directory.
  - python setup.py test --addopts --cov=cuckoo

after_success:
  - coveralls
  - codecov
