branches:
  only:
    - master
language: python
python:
    - 2.7
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install python-libvirt
    - wget http://downloads.sourceforge.net/project/ssdeep/ssdeep-2.12/ssdeep-2.12.tar.gz
    - tar -zxvf ssdeep-2.12.tar.gz
    - cd ssdeep-2.12
    - ./configure && make
    - sudo make install
    - cd ..
install:
    - pip install -r requirements.txt
script:
    - python cuckoo.py --debug --test
    - nosetests
