alembic
bottle
chardet
Django
dpkt
Flask
itsdangerous
Jinja2
Mako
MarkupSafe
nose
http://pefile.googlecode.com/files/pefile-1.2.10-139.tar.gz#egg=pefile
pymongo
python-dateutil
python-editor
python-magic
requests
six
SQLAlchemy
Werkzeug
