{% load analysis_tags %}

<section id="static_analysis">
    {% if report.analysis.static.apkinfo %}

    <style>
        .action_table td {
            width: 50%;
        }

        .pre_text {
            font-size: 12px;
            display: inline-block;
        }
    </style>

    {% if report.analysis.static.apkinfo.manifest %}
    <div>
        <h2>Manifest info</h2>
        <div class="row">
            <div class="col-md-3">
                <h5> Package name</h5>
                <pre class="pre_text">{{report.analysis.static.apkinfo.manifest.package}}</pre>
            </div>

            <div class="col-md-3">
                <h5> Main activity</h5>
                <pre class="pre_text">{{report.analysis.static.apkinfo.manifest.main_activity}}</pre>
            </div>
        </div>
        <br>

        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Services</h4>
            </div>

            <table class="action_table table table-striped table-bordered">
                {% for service in report.analysis.static.apkinfo.manifest.services %}
                <tr>
                    <td>{{service.name}}</td>
                    <td>
                        {% for intent in service.action %}
                        <div>&bull; <span>{{intent}}</span></div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Receivers</h4>
            </div>

            <table class="action_table table table-striped table-bordered">
                {% for receiver in report.analysis.static.apkinfo.manifest.receivers %}
                <tr>
                    <td>{{receiver.name}}</td>
                    <td>
                        {% for intent in receiver.action %}
                        <div>&bull; <span>{{intent}}</span></div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Providers</h4>
            </div>

            <table class="table table-striped">
                {% for provider in report.analysis.static.apkinfo.manifest.providers %}
                <tr>
                    <td>{{provider}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Activities</h4>
            </div>

            <table class="table table-striped">
                {% for activity in report.analysis.static.apkinfo.manifest.activities %}
                <tr>
                    <td>{{activity}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Permissions</h4>
            </div>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Protection level</th>
                    <th>Description</th>
                </tr>
                {% for permission in report.analysis.static.apkinfo.manifest.permissions %}
                <tr>
                    <td>{{permission.name}}</td>
                    <td>{{permission.protection_level}}</td>
                    <td>{{permission.description}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.certificates %}
    <div>
        <h2>Certificate information</h2>
        <div class="row">
            <div class="col-md-3">
                <h5> APK signing schemes</h5>
                <pre class="pre_text">{% if report.analysis.static.apkinfo.is_signed_v1 %}&bull; v1 (JAR)  {% endif %}{% if report.analysis.static.apkinfo.is_signed_v1 %}&bull; v2 (APK){% endif %}</pre>
            </div>
        </div>
        <br>

        {% for cert in report.analysis.static.apkinfo.certificates %}
        <div class="panel panel-default">

            <style>
                #apk_certinfo td{
                    max-width:100px;
                }

                #apk_certinfo th{
                    max-width: 15px;
                }
            </style>

            <table id="apk_certinfo" class="table table-striped">
                <tr>
                    <th>sha1</th>
                    <td>{{cert.sha1}}</span></td>
                </tr>
                <tr>
                    <th>sha256</th>
                    <td>{{cert.sha256}}</span></td>
                </tr>
                <tr>
                    <th>Issuer</th>
                    <td>{{cert.issuer}}</span></td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{cert.subject}}</span></td>
                </tr>
                <tr>
                    <th>Not valid before</th>
                    <td>{{cert.not_valid_before}}</span></td>
                </tr>
                <tr>
                    <th>Not valid after</th>
                    <td>{{cert.not_valid_after}}</span></td>
                </tr>
                <tr>
                    <th>Public key size</th>
                    <td>{{cert.public_key_size}}</span></td>
                </tr>
                <tr>
                    <th>Public key algorithm</th>
                    <td>{{cert.public_key_algorithm}}</span></td>
                </tr>
                <tr>
                    <th>Signature algorithm</th>
                    <td>{{cert.signature_algorithm}}</span></td>
                </tr>
                <tr>
                    <th>Signature</th>
                    <td>{{cert.signature}}</span></td>
                </tr>
                <tr>
                    <th>Serial number</th>
                    <td>{{cert.serial_number}}</span></td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.files %}
    <div>
        <h2>Files summary</h2>
        <div id="apk_files">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>MD5</th>
                    <th>Size</th>
                    <th>File type</th>
                </tr>
                {% for file in report.analysis.static.apkinfo.files %}
                {% if not file.name|slice:":4" == "res/" and not file.name|slice:":7" == "kotlin/"%}
                <tr>
                    <td>{{file.name}}</td>
                    <td>{{file.md5}}</td>
                    <td>{{file.size}}</td>
                    <td>{{file.type}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.native_methods %}
    <div>
        <h2>Native methods</h2>
        <table class="table table-striped table-bordered">
            {% for method in report.analysis.static.apkinfo.native_methods %}
            <tr>
                <td>{{method}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.api_calls %}
    <div>
        <h2>API calls</h2>

        <div class="cuckoo-analysis__panels">
            {% for api in report.analysis.static.apkinfo.api_calls %}
            <section class="cuckoo-analysis__panel">
                <a href="#{{api.name}}" class="cuckoo-analysis__panel--toggle" data-toggle="collapse">
                    {{api.name}}
                </a>

                <div id="{{api.name}}" class="cuckoo-analysis__panel--body collapse">
                    <table class="cuckoo-table">
                        {% for callee in api.callees %}
                        <tr>
                            <td>{{callee}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
            <br>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% endif %}
</section>
