{% load analysis_tags %}

<section id="static_analysis">
    {% if report.analysis.static.apkinfo %}

    <style>
        .manifest_info tr>th:first-child {
            max-width:100px;
        }

        .apk_methods_table td {
            max-width: 120px;
        }

        #apk_permissions td {
            max-width: 250px;
        }

        .pre_text {
            font-size: 12px;
            display: inline-block;
        }
    </style>

    {% if report.analysis.static.apkinfo.manifest %}
    <div>
        <h4>Manifest info</h4>
        <div class="row">
            <div class="col-md-3">
                <h5> Package name</h5>
                <pre class="pre_text">{{report.analysis.static.apkinfo.manifest.package}}</pre>
            </div>

            <div class="col-md-3">
                <h5> Main activity</h5>
                <pre class="pre_text">{{report.analysis.static.apkinfo.manifest.main_activity}}</pre>
            </div>
        </div>
        <br>

        {% for service in report.analysis.static.apkinfo.manifest.services %}
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Services</h4>
            </div>

            <table class="manifest_info table table-striped">
                <tr>
                    <td>{{service}}</td>
                </tr>
            </table>
        </div>
        <br>
        {% endfor %}

        {% for receiver in report.analysis.static.apkinfo.manifest.receivers %}
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Receivers</h4>
            </div>

            <table class="manifest_info table table-striped">
                <tr>
                    <td>{{receiver}}</td>
                </tr>
            </table>
        </div>
        <br>
        {% endfor %}

        {% for provider in report.analysis.static.apkinfo.manifest.providers %}
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Providers</h4>
            </div>

            <table class="manifest_info table table-striped">
                <tr>
                    <td>{{provider}}</td>
                </tr>
            </table>
        </div>
        <br>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Activities</h4>
            </div>

            <table class="manifest_info table table-striped">
                {% for activity in report.analysis.static.apkinfo.manifest.activities %}
                <tr>
                    <td>{{activity}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>

        {% for intent in report.analysis.static.apkinfo.manifest.receivers_actions %}
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Receivers' intent filters</h4>
            </div>

            <table class="manifest_info table table-striped">
                <tr>
                    <td>{{intent}}</td>
                </tr>
            </table>
        </div>
        <br>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">Permissions</h4>
            </div>

            <table id="apk_permissions" class="manifet_info table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Protection level</th>
                    <th>Description</th>
                </tr>
                {% for permission in report.analysis.static.apkinfo.manifest.permissions %}
                <tr>
                    <td>{{permission.name}}</td>
                    <td>{{permission.protection_level}}</td>
                    <td>{{permission.description}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.certificates %}
    <div>
        <h4>Certificate information</h4>
        <div class="row">
            <div class="col-md-3">
                <h5> APK signing schemes</h5>
                <pre class="pre_text">{% if report.analysis.static.apkinfo.is_signed_v1 %}&bull; v1 (JAR)  {% endif %}{% if report.analysis.static.apkinfo.is_signed_v1 %}&bull; v2 (APK){% endif %}</pre>
            </div>
        </div>
        <br>

        {% for cert in report.analysis.static.apkinfo.certificates %}
        <div class="panel panel-default">

            <style>
                #apk_certinfo td{
                    max-width:100px;
                }

                #apk_certinfo th{
                    max-width: 15px;
                }
            </style>

            <table id="apk_certinfo" class="table table-striped">
                <tr>
                    <th>sha1</th>
                    <td>{{cert.sha1}}</span></td>
                </tr>
                <tr>
                    <th>sha256</th>
                    <td>{{cert.sha256}}</span></td>
                </tr>
                <tr>
                    <th>Issuer</th>
                    <td>{{cert.issuer}}</span></td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td>{{cert.subject}}</span></td>
                </tr>
                <tr>
                    <th>Not valid before</th>
                    <td>{{cert.not_valid_before}}</span></td>
                </tr>
                <tr>
                    <th>Not valid after</th>
                    <td>{{cert.not_valid_after}}</span></td>
                </tr>
                <tr>
                    <th>Public key size</th>
                    <td>{{cert.public_key_size}}</span></td>
                </tr>
                <tr>
                    <th>Public key algorithm</th>
                    <td>{{cert.public_key_algorithm}}</span></td>
                </tr>
                <tr>
                    <th>Signature algorithm</th>
                    <td>{{cert.signature_algorithm}}</span></td>
                </tr>
                <tr>
                    <th>Signature</th>
                    <td>{{cert.signature}}</span></td>
                </tr>
                <tr>
                    <th>Serial number</th>
                    <td>{{cert.serial_number}}</span></td>
                </tr>
                <tr>
                    <th>Content</th>
                    <td>{{cert.content}}</span></td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.files %}
    <div>
        <h4>Files</h4>
        <div id="apk_files">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>MD5</th>
                    <th>Size</th>
                    <th>File type</th>
                </tr>
                {% for file in report.analysis.static.apkinfo.files %}
                <tr>
                    <td>{{file.name}}</td>
                    <td>{{file.md5}}</td>
                    <td>{{file.size}}</td>
                    <td>{{file.type}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.methods %}
    <div>
        <h4>Methods</h4>
        <table class="apk_methods_table table table-striped table-bordered">
            <tr>
                <th>Class</th>
                <th>Name</th>
                <th>Parameters' types</th>
                <th>Return type</th>
            </tr>
            {% for method in report.analysis.static.apkinfo.methods %}
            <tr>
                <td>{{method.class}}</td>
                <td>{{method.name}}</td>
                <td>{% for param in method.params %}{{param}} {% endfor %}</td>
                <td>{{method.return}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.native_methods %}
    <div>
        <h4>Native methods</h4>
        <table class="apk_methods_table table table-striped table-bordered">
            <tr>
                <th>Class</th>
                <th>Name</th>
                <th>Parameters' types</th>
                <th>Return type</th>
            </tr>
            {% for method in report.analysis.static.apkinfo.native_methods %}
            <tr>
                <td>{{method.class}}</td>
                <td>{{method.name}}</td>
                <td>{% for param in method.params %}{{param}} {% endfor %}</td>
                <td>{{method.return}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.classes %}
    <div>
        <h4>Classes</h4>
        <div id="apk_classes">
            <table class="table table-striped table-bordered">
            {% for class_name in report.analysis.static.apkinfo.classes %}
                <tr>
                    <td>{{class_name}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <br>
    {% endif %}

    {% if report.analysis.static.apkinfo.static_calls %}
    <div>
        <h4>Static calls</h4>

        {% for category, calls in report.analysis.static.apkinfo.static_calls.items %}
        {% if calls %}
        <div class="panel panel-default">
            <div class="panel-heading" style="height: 40px;">
                <h4 class="panel-title">{{category|title|deunderscore}} calls</h4>
            </div>

            <table class="apk_methods_table table table-striped table-bordered">
                <tr>
                    <th>Caller class</th>
                    <th>Caller method</th>
                    <th>Callee class</th>
                    <th>Callee method</th>
                </tr>
                {% for call in calls %}
                <tr>
                    <td>{{call.caller_class}}</td>
                    <td>{{call.caller_method}}</td>
                    <td>{{call.callee_class}}</td>
                    <td>{{call.callee_method}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endif %}
</section>
