<section id="static_irma">
    {% if report.analysis.irma %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>IRMA</th>
            {% if report.analysis.info.category == "file" %}
                <th>Signature</th>
            {% else %}
                <th>Result</th>
            {% endif %}
        </tr>
        {% for probe in report.analysis.irma.probe_results %}
        <tr>
            <td>{{probe.name}}</td>
            <td>
                {% if report.analysis.info.category == "file" %}
                    {% if not probe.results %}
                        <span class="text-muted">Clean</span>
                    {% else %}
                        <span class="text-danger">{{probe.results}}</span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        No IRMA results available.
    {% endif %}
</section>
