<form class="widget-toolbar">
  <ul>
    <li class="title">Show:</li>
    <li class="date-selector">
      <label for="toolbar-date"><span data-svg-src="/static/images/calendar.svg"></span></label>
      <input type="text" name="toolbar-date" id="toolbar-date" placeholder="Select date" data-datepicker />
    </li>
    <li>
      <label for="toolbar-period-hour">
        <input type="radio" name="toolbar-period" id="toolbar-period-hour" value="hour" checked />
        <span>hour</span>
      </label>
    </li>
    <li>
      <label for="toolbar-period-day">
        <input type="radio" name="toolbar-period" id="toolbar-period-day" value="day" />
        <span>day</span>
      </label>
    </li>
    <li>
      <label for="toolbar-period-week">
        <input type="radio" name="toolbar-period" id="toolbar-period-week" value="week" />
        <span>week</span>
      </label>
    </li>
    <!-- <li class="right title control-nodes"><label for="toolbar-filter-nodes">Node:</label></li>
    <li class="control-nodes">
      <select name="toolbar-node" id="toolbar-filter-nodes">
        <option value="all">All</option>
      </select>
    </li> -->
  </ul>
</form>
