<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Driver Name</th>
            <th>Driver Offset</th>
            <th>Devices</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.devicetree.data %}
        <tr>
            <td>{{row.driver_name}}</td>
            <td><span class="mono">{{row.driver_offset}}</span></td>
            <td>
            {% for device in row.devices %}
                {% if device.device_name %}
                    {{device.device_name}}, 
                {% endif %}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
