<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>CPU</th>
            <th>Index</th>
            <th>Selector</th>
            <th>Address</th>
            <th>Module</th>
            <th>Section</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.idt.data %}
        <tr>
            <td>{{row.cpu_number}}</td>
            <td>{{row.index}}</td>
            <td><span class="mono">{{row.selector}}</span></td>
            <td><span class="mono">{{row.address}}</span></td>
            <td>{{row.module}}</td>
            <td>{{row.section}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
