<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Offset</th>
            <th>Session</th>
            <th>Desktop</th>
            <th>Thread</th>
            <th>Filter</th>
            <th>Flags</th>
            <th>Function</th>
            <th>Module</th>
        </tr>
    </thead>
    <tbody>
    {% for x in analysis.memory.messagehooks.data %}
        <tr>
            <td><span class="mono">{{x.offset}}</span></td>
            <td>{{x.session}}</td>
            <td>{{x.desktop}}</td>
            <td>{{x.thread}}</td>
            <td>{{x.filter}}</td>
            <td>{{x.flags}}</td>
            <td><span class="mono">{{x.function}}</span></td>
            <td>{{x.module}}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
