<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Offset</th>
            <th>PID</th>
            <th>Local Address</th>
            <th>Local Port</th>
            <th>Remote Address</th>
            <th>Remote Port</th>
            <th>Protocol</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.netscan.data|volsort %}
        <tr>
            <td class="{{ row.class_ }}">{{row.offset}}</td>
            <td class="{{ row.class_ }}">{{row.process_id}}</td>
            <td class="{{ row.class_ }}">{{row.local_address}}</td>
            <td class="{{ row.class_ }}">{{row.local_port}}</td>
            <td class="{{ row.class_ }}">{{row.remote_address}}</td>
            <td class="{{ row.class_ }}">{{row.remote_port}}</td>
            <td class="{{ row.class_ }}">{{row.protocol}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
