<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Index</th>
            <th>Table</th>
            <th>Entry</th>
            <th>Syscall Name</th>
            <th>Syscall Addr</th>
            <th>Syscall Modname</th>
            <th>Hook?</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.ssdt.data %}
        <tr>
            <td>{{row.index}}</td>
            <td><span class="mono">{{row.table}}</span></td>
            <td>{{row.entry}}</td>
            <td>{{row.syscall_name}}</td>
            <td><span class="mono">{{row.syscall_addr}}</span></td>
            <td>{{row.syscall_modname}}</span></td>
            <td>{{row.hook_dest_addr}}: {{row.hook_name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
