<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Index</th>
            <th>Table</th>
            <th>Entry</th>
            <th>Syscall Name</th>
            <th>Syscall Addr</th>
            <th>Syscall Modname</th>
            <th>Hook?</th>
        </tr>
    </thead>
    <tbody>
    {% for x in analysis.memory.ssdt.data %}
        <tr>
            <td>{{x.index}}</td>
            <td><span class="mono">{{x.table}}</span></td>
            <td>{{x.entry}}</td>
            <td>{{x.syscall_name}}</td>
            <td><span class="mono">{{x.syscall_addr}}</span></td>
            <td>{{x.syscall_modname}}</span></td>
            <td>{{x.hook_dest_addr}}: {{x.hook_name}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
