<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Offset</th>
            <th>Due Time</th>
            <th>Period</th>
            <th>Signaled</th>
            <th>Routine</th>
            <th>Module</th>
        </tr>
    </thead>
    <tbody>
    {% for x in analysis.memory.timers.data %}
        <tr>
            <td><span class="mono">{{x.offset}}</span></td>
            <td>{{x.due_time}}</td>
            <td>{{x.period}}</td>
            <td>{{x.signaled}}</td>
            <td><span class="mono">{{x.routine}}</span></td>
            <td>{{x.module}}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
