{% load staticfiles %}

<header class="rdp-app__header">
  <h2 class="rdp-title"><i class="fa fa-desktop"></i> Locky.zip</h2>
  <div class="rdp-app__header--right">
    <ul class="rdp-snapshots">
      <li>
        <figure><img src="{% static 'graphic/screenshot-sample.png' %}" /></figure>
        <div class="rdp-snapshots--controls">
          <a href="#"><i class="fa fa-remove"></i></a>
        </div>
      </li>
      <li>
        <figure><img src="{% static 'graphic/screenshot-sample.png' %}" /></figure>
        <div class="rdp-snapshots--controls">
          <a href="#"><i class="fa fa-remove"></i></a>
        </div>
      </li>
      <li>
        <figure><img src="{% static 'graphic/screenshot-sample.png' %}" /></figure>
        <div class="rdp-snapshots--controls">
          <a href="#"><i class="fa fa-remove"></i></a>
        </div>
      </li>
    </ul>
  </div>
</header>
