{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="flex-grid">
        <header class="flex-grid__header">
            <div class="container">
                <h3><i class="fa fa-clock-o"></i> Pending tasks</h3>
            </div>
        </header>
        <section class="flex-grid__body background-grey">
            <!-- table comes here -->
            <div class="container">
                
                <table class="cuckoo-table">

                    <thead>
                        <tr>
                            <th>Task ID</th>
                            <th>Sample ID</th>
                            <th>Date</th>
                            <th>Filename / URL</th>
                            <th>Category</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for task in tasks %}

                            <tr>
                                <td>{{ task.id }}</td>
                                <td>{{ task.sample_id }}</td>
                                <td>{{ task.added_on }}</td>
                                <td>{{ task.target }}</td>
                                <td>{{ task.category }}</td>
                                <td>{{ task.status }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>
        </section>
    </div>

{% endblock %}
