<li>
  <div>
    <p>
      {{ process.process_name }}
      <em><i data-toggle="tooltip" title="{{ process.command_line }}" class="fa fa-eye"></i>{{ process.command_line }}</em>
    </p>
    <span class="pid">{{ process.pid }}</span>
    {% if process.children %}
      <a class="fa" data-tree="toggle"></a>
    {% endif %}
  </div>

  {% if process.children %}
    <ul>
      {% for process in process.children %}
        {% include "analysis/pages/behavior/partials/_process.html" %}
      {% endfor %}
    </ul>
  {% endif %}

</li>
