{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="flex-grid" id="post-submission">

    <header class="flex-grid__header">
        <ul class="breadcrumbs">
            <li class="done"><a href="#">submit file</a></li>
            <li class="done"><a href="#">configure</a></li>
            <li class="done"><a href="#">analyze</a></li>
            <li class="active"><a href="#">Summary</a></li>
        </ul>
        <h3>
            <i class="fa fa-check"></i> Your submission is received and the tasks are being processed!
            <div class="pull-right">
                <!-- <button id="start-analysis"><i class="fa fa-check"></i> Analyze</button> -->
                <a class="flex-grid__button--description">Next: </a>
                <a class="flex-grid__button transparent" href="/analysis/pending">View pending tasks</a>
                <a class="flex-grid__button transparent" href="/submit">Submit again</a>
            </div>
        </h3>
    </header>

    <section class="flex-grid__body--center">
        <div class="flex-grid__container">
            <div class="flex-grid__column two-third">
                <h2>The following tasks have been created:</h2>
                <ul class="flex-display divided rounded-off monospaced">
                    <li class="highlight-dark">task id</li>
                    {% for submit_id in submit_ids %}
                        <li>{{ submit_id }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex-grid__column one-third">

            </div>
        </div>
    </section>

    <footer class="flex-grid__footer">
        <p class="footnote">
            &copy;2010-2016 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a>
        </p>
        <div class="logo">
            <img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
        </div>
    </footer>

</div>
        
{% endblock %}
