{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	
<!-- config -->
<main class="flex-grid">

	<header class="flex-grid__header">
		<ul class="breadcrumbs">
			<li class="active"><a href="#">submit file</a></li>
			<li class="todo"><a href="#">configure</a></li>
			<li class="todo"><a href="#">analyze</a></li>
		</ul>
		<h3>
			<i class="fa fa-upload"></i> Submit a file
		</h3>
	</header>

	<section class="flex-grid__body--center background-grey" id="analysis-configuration">
		<div class="flex-grid__align-vertical upload-module">

			<h3>Submit a file via:</h3>
			<nav class="grouped-buttons">
				<button class="active">File upload</button>
				<button>URL or file hash</button>
			</nav>

			<div id="dndsubmit"></div>

			<div class="allowed-file-types">
				<h4>Supported Filetypes:</h4>
				<ul>
					<li><i class="fa fa-file-o"></i> <span>ZIP</span></li>
					<li><i class="fa fa-file-o"></i> <span>VBS</span></li>
					<li><i class="fa fa-file-o"></i> <span>JS</span></li>
					<li><i class="fa fa-file-o"></i> <span>DOC</span></li>
					<li><i class="fa fa-file-o"></i> <span>PDF</span></li>
					<li><i class="fa fa-file-o"></i> <span>XLS</span></li>
					<li><i class="fa fa-file-o"></i> <span>ZIP</span></li>
				</ul>
			</div>

		</div>
	</section>

	<footer class="flex-grid__footer">
		<p class="footnote">
			&copy;2010-2016 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a>
		</p>
		<div class="logo">
			<img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
		</div>
	</footer>

</main>

{% endblock %}