{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	
<!-- config -->
<main class="flex-grid">

	<header class="flex-grid__header">
		<ul class="breadcrumbs">
			<li class="active"><a href="#">submit file</a></li>
			<li class="todo"><a href="#">configure</a></li>
			<li class="todo"><a href="#">analyze</a></li>
		</ul>
		<h3>
			<i class="fa fa-upload"></i> Submit a file
		</h3>
	</header>

	<section class="flex-grid__body--center background-grey" id="analysis-configuration">
		<div class="flex-grid__align-vertical">
			<div id="dndsubmit"></div>
		</div>
	</section>

	<footer class="flex-grid__footer">
		<p class="footnote">
			&copy;2010-2016 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a>
		</p>
		<div class="logo">
			<img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
		</div>
	</footer>

</main>

{% endblock %}