{% load analysis_tags %}
<td class="date-api">
  <p>{{call.api}}</p>
  <time>{{call.time}}</time>
  {% if pid %}
    <a href="#" class="call-link" data-pid="{{pid}}" data-cid="{{cid}}">
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  {% endif %}
</td>
<td>
  {% for key, value in call.arguments.items %}
    {% if value|is_dict %}
      {% for k, v in value.items %}
        <span class="grey">{{key}}.{{k|_byteify}}:</span>
        <span class="mono">{{v|_byteify}}</span>
        <br />
      {% endfor %}
    {% else %}
      <span class="grey">{{key}}:</span>
      {% if key in call.raw %}
        {% for v in value|ensurelist %}
          <pre>{{v}}</pre>
        {% endfor %}
      {% else %}
        <span class="mono">{{value|_byteify}}</span>
      {% endif %}
      {% if key in call.flags %}
        <span class="grey">({{ call.flags|get_item:key|ensurelist|join:", " }})</span>
      {% endif %}
      <br />
    {% endif %}
  {% endfor %}
</td>
{% if java_api %}
<td>
  {% if call.thisObject|is_dict %}
    {% for key, value in call.thisObject.items %}
      <span class="grey">{{key|_byteify}}:</span>
      <span class="mono">{{value|_byteify}}</span>
      <br />
    {% endfor %}
  {% else %}
    <span class="mono">{{call.thisObject|_byteify}}</span>
  {% endif %}
</td>
{% else %}
<td>
    {% if call.status == true %}
        success
    {% elif call.status == false %}
        failed
    {% elif call.status %}
        {{ call.status }}
    {% endif %}
</td>
{% endif %}
<td>
  {% if call.return_value|is_dict %}
    {% for key, value in call.return_value.items %}
      <span class="grey">{{key|_byteify}}:</span>
      <span class="mono">{{value|_byteify}}</span>
      <br />
    {% endfor %}
  {% else %}
    <span class="mono">{{call.return_value|_byteify}}</span>
  {% endif %}
  </td>
{% if not java_api %}
<td>
    {% if call.repeated %}
        {{call.repeated}}
        {% if call.repeated > 1 %}
            times
        {% else %}
            time
        {% endif %}
    {% else %}
        0
    {% endif %}
</td>
{% endif %}
