<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th class="cell-sm">Time &amp; API</th>
            <th class="cell-lg">Arguments</th>
            <th class="cell-xs">Status</th>
            <th class="cell-xs">Return</th>
            <th class="cell-xs">Repeated</th>
        </tr>
    </thead>
    <tbody>
    {% for call in chunk.calls %}
        <tr class="{{call.category}}" id="call_{{call.id}}">
            {% include "analysis/pages/behavior/_api_call.html" %}
        </tr>
    {% endfor %}
    </tbody>
</table>
