{% extends "base.html" %} {% load staticfiles %} {% load analysis_tags %} {% block content %}

<div class="flex-nav">
  {% include "analysis/pages/nav-sidebar.html" %}
  <section class="flex-nav__body cuckoo-analysis" tabindex="0">

    <header class="cuckoo-analysis__header">
      <h1>Behavioral Analysis</h1>
    </header>

    <div class="container-fluid">
      <div class="row">

        <section class="process-tree" id="behavior-process-tree">
          <div class="process-tree__search">
            <input type="text" placeholder="Search" />
            <i class="fa fa-search"></i>
          </div>
          <div class="process-tree__tree">
            <header class="process-tree__header">
              <h4><i class="fa fa-sitemap"></i> Process tree <a href="#" class="process-tree__header--right fa"></a></h4>
            </header>

            <div class="process-tree__body">
              <ul class="processes tree" data-tree="init">

                <li>
                  <div>
                    <p>
                      inject-shellcode-x86.exe
                      <em>C:\Users\Administrator\AppData\Local\Temp\inject-shellcode-x86.exe</em>
                    </p>
                    <span class="pid">2567</span>
                    <a class="fa" data-tree="toggle"></a>
                  </div>
                </li>

                <li>
                  <div>
                    <p>
                      explorer.exe
                      <em>C:\Windows\Explorer.EXE</em>
                    </p>
                    <span class="pid">1658</span>
                    <a class="fa" data-tree="toggle"></a>
                  </div>

                  <ul>
                    <li>
                      <div>
                        <p>
                          explorer-with-sub-processes.exe
                          <em>C:\Windows\Explorer.EXE</em>
                        </p>
                        <span class="pid">420</span>
                        <a class="fa" data-tree="toggle"></a>
                      </div>

                      <ul>
                        <li>
                          <div>
                            <p>
                              some-sub-process.exe
                              <em>C:\Windows\SSA.EXE</em>
                            </p>
                            <span class="pid">69</span>
                            <a class="fa" data-tree="toggle"></a>
                          </div>

                          <ul>
                            <li>
                              <div>
                                <p>
                                  some-sub-sub-process.exe
                                  <em>C:\Windows\Explorer.EXE</em>
                                </p>
                                <span class="pid">8490</span>
                                <a class="fa" data-tree="toggle"></a>
                              </div>
                            </li>

                            <li>
                              <div class="selected">
                                <p>
                                  inject-shellcode-x86.exe
                                  <em>C:\Windows\tmp\.hidden\Explorer.EXE</em>
                                </p>
                                <span class="pid">12000</span>
                                <a class="fa" data-tree="toggle"></a>
                              </div>
                            </li>

                          </ul>

                        </li>
                      </ul>
                    </li>
                  </ul>

                </li>

              </ul>
            </div>

          </div>
          <div class="process-tree__detail open">
            <header class="process-tree__header">
              <h4><i class="fa fa-ellipsis-h"></i> Process detail <a href="#" class="process-tree__header--right fa"></a></h4>
            </header>
            <div class="process-tree__body process-spec">

              <!-- name and meta about the process  -->
              <header class="process-spec--name">
                <h2>inject-shellcode-x86.exe</h2>
                <table class="cuckoo-table table-key-value">
                  <tr>
                    <td>PID</td>
                    <td><strong>lalala</strong></td>
                  </tr>
                  <tr>
                    <td>Parent PID</td>
                    <td><strong>lalala</strong></td>
                  </tr>
                </table>
              </header>

              <!-- analysis tags -->
              <div class="process-spec--tags">
                <span class="badge default">default</span>
                <span class="badge registry">registry</span>
                <span class="badge file">file</span>
                <span class="badge network">network</span>
                <span class="badge process">process</span>
                <span class="badge services">services</span>
                <span class="badge synchronisation">synchronisation</span>
                <span class="badge iexplore">iexplore</span>
                <span class="badge office">office</span>
                <span class="badge pdf">pdf</span>
              </div>

            </div>
          </div>
        </section>

      </div>
    </div>

    <!-- footer replacement to avoid double scrollbars -->
    <footer class="flex-grid__footer spread-alignment">
      <p class="footnote">
        &copy;2010-2017 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a>
      </p>
      <div class="logo">
        <img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
        <a href="#">Back to Top</a>
      </div>
    </footer>

  </section>
</div>

{% endblock %}
