<style>
.analysis_menu-sidebar {

}

.analysis_menu-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.analysis_menu-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.analysis_menu-userbuttons .btn:last-child {
  margin-right: 0px;
}

.analysis_menu-usermenu {

}

.analysis_menu-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.analysis_menu-usermenu ul li:last-child {
  border-bottom: none;
}

.analysis_menu-usermenu ul li a {
  color: #93a3b5;
  font-size: 12px;
  font-weight: 400;
}

.analysis_menu-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.analysis_menu-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.analysis_menu-usermenu ul li.active {
  border-bottom: none;
}

.analysis_menu-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.analysis_menu-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.analysis_menu-usermenu ul li span.label{
    margin-top:4px;
    background-color: #eaeaea;
    color: #676767;
}
@media (min-width: 992px) {
    #analysis_menu-sidebar {
        max-width: 260px;
    }
}
</style>

<div id="analysis_menu-sidebar" class="col-md-2">
    <div class="analysis_menu-sidebar">
        <div class="analysis_menu-usermenu">
            <ul class="nav">
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "summary" %}">
                        <i class="glyphicon glyphicon-home"></i>Summary
                    </a>
                </li>
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "static" %}">
                        <i class="glyphicon glyphicon-search"></i>Static Analysis
                    </a>
                </li>
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "behavior" %}">
                        <i class="glyphicon glyphicon-search"></i>Behavioral Analysis
                        <span class="label label-primary pull-right">{{ report.analysis.report.behavior.processes|filter_key_if_has:"track"|length }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "network" %}">
                        <i class="glyphicon glyphicon-search"></i>Network Analysis
                    </a>
                </li>
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "dropped_files" %}">
                        <i class="glyphicon glyphicon-download-alt"></i> Dropped Files
                        <span class="label label-primary pull-right">{{ report.analysis.dropped|length }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "dropped_buffers" %}">
                        <i class="glyphicon glyphicon-download-alt"></i>Dropped Buffers
                        <span class="label label-primary pull-right">{{ report.analysis.buffer|length }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "analysis" report.analysis.info.id "procmemory" %}">
                        <i class="glyphicon glyphicon-barcode"></i>Process Memory
                        <span class="label label-primary pull-right">{{ report.analysis.procmemory|length }}</span>
                    </a>
                </li>

                {% if report.analysis.misp %}
                    <li>
                        <a href="{% url "analysis" report.analysis.info.id "misp" %}">
                            <i class="glyphicon glyphicon-flag"></i>MISP
                            <span class="label label-primary pull-right">{{ report.analysis.misp|length }}</span>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="#" data-toggle="modal" data-target="#modal_feedback">
                        <i class="glyphicon glyphicon-barcode"></i>Feedback
                    </a>
                </li>

                <li>
                    <a href="{% url "analysis" report.analysis.info.id "admin" %}">
                        <i class="glyphicon glyphicon-flag"></i>Admin
                    </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
</div>

<!-- I'm not sure if this is the correct place to put it -->
{% include "analysis/pages/feedback/form.html" %}

<script>
    $( document ).ready(function() {
        $(".analysis_menu-sidebar li").each(function(i, obj){
            if(window.location.pathname.startsWith($(obj).find('a').attr('href'))) $(obj).addClass('active');
        });
    });
</script>
