{% if analysis.procmemory %}
    {% for proc in analysis.procmemory %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Process memory dump for <b>{{ proc.pid|process_name:analysis }}</b> (PID {{ proc.pid }}, dump {{ proc.num }})</h3></div>
            <div class="panel-body">
                {% if proc.procmem_id %}
                    <a class="btn btn-primary btn-small" href="{% url "analysis.views.file" "memdump" proc.procmem_id %}">Download</a>
                {% endif %}

                {% if proc.extracted %}
                    <b>Extracted/injected images (may contain unpacked executables)</b>
                    <ul>
                    {% for extracted in proc.extracted %}
                        {% if extracted.extracted_id %}
                        <li><a href="{% url "analysis.views.file" "procmem_extracted" extracted.extracted_id %}" class="btn btn-primary btn-small">Download</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}

                {% if proc.yara %}
                    <b>Yara signatures matches on process memory</b>
                    {% for match in proc.yara %}
                        <p>Match: {{match.name}}
                        <ul>
                        {% for string in match.strings %}
                            <li>{{string}}</li>
                        {% endfor %}
                        </ul></p>
                    {% endfor %}
                {% endif %}

                {% if proc.urls %}
                    <b>URLs found in process memory</b>
                    <ul>
                    {% for url in proc.urls %}
                        <li>{{url}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if proc.procmem_id %}
                <a href="{% url "analysis.views.file" "procmem" proc.procmem_id %}" class="btn btn-primary btn-small">Download</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
