%reset-button {
	-webkit-appearance: none;
	border: 0;

	&:focus {
		outline: 0;
	}
}

.grouped-buttons {
	display: flex;
	background-color: #fff;

	button, a {

		@extend %reset-button;
		background-color: #fff;
		color: #545454;
		padding: 10px 0;
		flex-basis: 100%;
		font-weight: 500;
		text-align: center;
		text-decoration: none;

		&:active {
			background-color: #e5e5e5;
		}

		&.active {
			background-color: #337AB7;
			font-weight: 700;
			color: #fff;
		}

	}

}