.flex-grid {

	display: flex;
	flex-direction: column;

	width: 100vw;
	height: -webkit-calc(100vh - 41px);

	font-family: "Roboto", sans-serif;

	&__header {
		padding: 15px 20px;
		border-bottom: 1px solid #EEEEEE;
		
		& > h3 {
			font-size: 20px;
			font-weight: 400;
			color: #999999;
			margin: 15px 0 0 0;

			& > i {
				margin-right: 5px;
			}

			button,
			.flex-grid__button {
				-webkit-appearance: none;
				border: 0;
				font-size: 70%;
				font-weight: 700;
				background-color: #337AB7;
				color: #fff;
				border-radius: 4px;
				padding: 7px 10px;
				margin-top: -3px;
				box-shadow: 0px 2px 4px rgba(0,0,0,.1);

				.fa { margin-right: 5px; }

				&:hover { 
					text-decoration: none;
					background-color: darken(#337AB7, 5);
					cursor: pointer; 
				}

				&.grey {
					background-color: #888;
					color: #fff;
					&:hover { background-color: darken(#888, 5); }
				}

				&.transparent {
					background-color: transparent;
					color: #337AB7;
					box-shadow: none;

					&:hover {
						background-color: #337AB7;
						color: #fff;
					}
				}

				&--description {
					@extend .flex-grid__button;
					background-color: transparent;
					color: #999;
					box-shadow: none;

					&:hover {
						background-color: transparent;
						cursor: default;
					}
				}

			}
		}

	}

	&__body {
		display: flex;
		flex-basis: 100%;

		&.background-grey {
			background-color: #f5f5f5;
		}

		&--center {
			@extend .flex-grid__body;
			justify-content: center;
			overflow-y: auto;
		}
	}

	&__align-vertical {
		align-self: center;
	}

	&__footer {
		display: flex;
		justify-content: center;
		flex-basis: 50px;
		background-color: #111;
		padding: 15px 20px;

		.logo {
			margin-left: 20px;
			img {
				height: 16px;
			}
		}
		.footnote {
			color: #888;

			a {
				margin-left: 20px;
				color: #aaa;
			}
		}
	}

	&__nav { 
		flex-basis: 350px; 
		flex-shrink: 0;
		background-color: #F5F5F5;
		border-right: 1px solid #CFCFCF;
		overflow-y: auto;
	}

	&__content { 
		flex-basis: 100%; 
		overflow-y: auto;
	}

	&__container {
		display: flex;
		flex-basis: 1180px;
		margin: 15px 0;
	}

	&__column {

		flex-basis: 100%;

		&.one-third {
			flex-basis: percentage(1/3);
		}
		&.two-third {
			flex-basis: percentage(2/3);
		}

	}

}

// another flex utility, this utility 
// quick-flexes a html object, with
// some styles applied to it.
.flex-display {

	display: flex;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;

	& > * {
		flex-basis: 100%;
	}

	&.divided {

		margin: 30px 0 15px 0;

		& > * {
			flex-basis: 100%;
			padding: 5px 10px;
			border: 1px solid #999;
			border-right-width: 0;
			text-align: center;

			&.highlight-dark {
				background-color: #999;
				color: #fff;
				flex: 0 0 auto;
			}

			&:last-child {
				border-right-width: 1px;
			}
		}
	}

	&.rounded-off {
		& > *:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		& > *:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
	}

}