.process-tree {

  position: relative;
  background-color: #fff;
  border: 1px solid #979797;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 15px;

  /*
    Search bar
   */
  &__search {

    position: relative;
    border-bottom: 1px solid #979797;

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      display: block;
      width: 100%;
      border: 0;
      padding: 10px 20px 10px 35px;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: #B5B5B5;
      }

    }

    .fa-search {
      position: absolute;
      top: 13px;
      left: 15px;
      color: #B5B5B5;
    }

  }

  /*
    The actual process tree
   */
  &__tree {
    border-bottom: 1px solid #979797;

    // custom styling on top of the reset for
    // the process tree
    .processes {

      li {

        width: 100%;

        // line
        &:before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          background-color: #ccc;
        }

        & > div {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 15px;

          a {

            &.fa {

              font-size: 1.5em;

              &:before {
                content: "\f105";
              }

              &.is-open:before {
                content: "\f107";
              }

            }

            &:hover {
              cursor: pointer;
              text-decoration: none;
            }

          }

        }

      }

      p {
        max-width: 75%;
        font-size: 14px;
        color: #6297F8;
        margin: 10px 0;
        font-weight: 700;

        // ensures flexible text wrapping
        flex-basis: 100%;
        flex-grow: 0;

        em {
          display: block;
          color: #818181;
          font-size: 12px;
          margin-top: 5px;
          font-weight: 400;

          // configures maximum length - auto-ellipsing
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .fa {
            margin-right: 10px;
            color: $cuckoo_secundary_color;
          }
        }
      }

      .pid {
        margin-left: auto;
        margin-right: 15px;
        background-color: #454545;
        border: 1px solid #979797;
        color: #fff;
        padding: 4px 15px;
        border-radius: 3px;
        font-weight: 600;
      }

      // strip down the first list item stroke
      & > li:first-child::before {
        display: none;
      }

    }

    // indentation bumps for ul>ul>ul>ul>etc childs
    ul {
      padding-left: 10px;
    }

  }

  /*
   The details with the items for that process tree
  */
  &__detail {

  }

  /*
    A common style for headings
  */
  &__header {
    border-bottom: 1px solid #979797;
    background-color: #fafafa;
    padding: 15px 20px 10px 20px;

    h4 {
      margin: 0;

      .fa:first-child {
        width: 25px;
        color: $cuckoo_secundary_color;
      }
    }

    &--right {
      float: right;
      width: auto;

      &:before {
        content: "\f054";
      }

      .open &:before {
        content: "\f078";
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  /*
    Shared styles for the detail pane and the tree pane
    */
  &__tree,
  &__detail {

    .process-tree__body {
      display: none;
    }

    &.open .process-tree__body {
      display: block;
    }

  }

}

/*
  Process spec
  - element that will define the layout of the process specs such
    as names, metadata etc.
 */
.process-spec {

  &--name {

    background-color: #f5f5f5;
    text-align: center;
    color: $cuckoo_secundary_color;
    padding-bottom: 10px;

    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 0 15px 0;
    }

    // reset table styles for correct layout
    .cuckoo-table {
      border: 0;
      background: transparent;
      tbody {
        tr {
          background-color: transparent;
          border-bottom: 0;
          td {
            border: 0;
            background: transparent;
            &:first-child { text-align: right; }
          }
        }
      }
    }
  }

  &--tags {
    display: flex;
    background-color: #252525;
    padding: 15px;
    & > .badge {
      padding: 10px 0;
      flex-basis: 100%;
      margin: 0 10px;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0,0,0,.9),
                  inset 0px 1px 0px rgba(255,255,255,.1);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--pagination {

    padding: 15px 25px;

    & > ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      border: 1px solid $cuckoo_secundary_color;
      border-radius: 4px;
      overflow: hidden;

      & > li {
        flex-basis: 100%;

        &:not(:last-child) {
          border-right: 1px solid $cuckoo_secundary_color;
        }

        & > a {
          display: block;
          text-align: center;
          font-weight: 700;
          color: $cuckoo_secundary_color;
          background-color: #fff;
          padding: 5px 0;

          &:hover {
            background-color: #f5f5f5;
            text-decoration: none;
          }

          &.active {
            color: #fff;
            background-color: $cuckoo_secundary_color;
          }

        }
      }

    }
  }

  &--table {

    .cuckoo-table {
      border: 0;
      font-size: 14px;

      pre,
      code {
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: 0;
      }

      .date-api {

        position: relative;
        min-width: 155px;
        padding: 0;

        & > p,
        & > time {
          position: absolute;
          left: 0;
          width: 100%;
          padding: 0 15px;
        }

        & > p {
          font-weight: 700;
          top: 15px;
          color: #434343;
        }

        & > time {
          bottom: 12px;
          color: #9f9f9f;
        }

        & > .badge {
          margin-left: 15px;
        }

      }
    }
  }
}
