$RDP_APP_VIEWPORT_BGC: #000;
$RDP_APP_HEADER_BGC: #2E3A4F;
$RDP_APP_CONTROLS_BGC: #15272A;
$RDP_APP_TOOLBAR_BUTTON_BGC: #6297F8;
$RDP_APP_TOOLBAR_BUTTON_ACTIVE_BGC: #354A71;
$RDP_APP_TOOLBAR_BUTTON_DISABLED_BGC: #6D6D6D;
$RDP_APP_TOOLBAR_ICON_COLOR: #1E3C73;
$RDP_APP_CREDIT_BGC: #383838;

// rdp toolbar button element style
%rdp-toolbar-button {
  -webkit-appearance: none;
  padding: 7px 5px 5px;
  border: 0;
  border-radius: 5px;
  background-color: $RDP_APP_TOOLBAR_BUTTON_BGC;
  box-shadow: 0px 2px 0px shade($RDP_APP_TOOLBAR_BUTTON_BGC, 30%);
  font-size: 44px;
  color: $RDP_APP_TOOLBAR_ICON_COLOR;
  text-shadow: 0px 1px 0px rgba(255,255,255,.2);

  transition: background-color 100ms linear,
              box-shadow 100ms linear,
              color 150ms linear;

  &:hover {
    background-color: tint($RDP_APP_TOOLBAR_BUTTON_BGC, 10%);
  }

  &.active,
  &:active {
    background-color: $RDP_APP_TOOLBAR_BUTTON_ACTIVE_BGC;
    box-shadow: inset 0px 2px 0px shade($RDP_APP_TOOLBAR_BUTTON_ACTIVE_BGC, 70%),
                0px 1px 0px tint($RDP_APP_TOOLBAR_BUTTON_ACTIVE_BGC, 10%);
    color: #fff;
    text-shadow: 0px 1px 0px shade($RDP_APP_TOOLBAR_BUTTON_ACTIVE_BGC, 70%);
  }

  &.disabled,
  &[disabled] {
    background-color: $RDP_APP_TOOLBAR_BUTTON_DISABLED_BGC;
    color: tint($RDP_APP_TOOLBAR_BUTTON_DISABLED_BGC, 10%);
    text-shadow: 0px -2px 0px shade($RDP_APP_TOOLBAR_BUTTON_DISABLED_BGC, 30%);
    box-shadow: 0px 2px 0px shade($RDP_APP_TOOLBAR_BUTTON_DISABLED_BGC, 40%);
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

}

.rdp {

  // base app grid layout
  &-app {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;

    &__display {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }

    &__controls {
      display: flex;
      flex-direction: column;
      flex-basis: 128px;
      background-color: $RDP_APP_CONTROLS_BGC;
    }

    &__header {
      display: flex;
      align-items: center;
      flex-basis: 66px;
      flex-shrink: 0;
      padding: 0 30px;
      background-color: $RDP_APP_HEADER_BGC;

      &--right {
        margin-left: auto;
      }
    }

    &__viewport {
      flex-basis: 100%;
      background-color: $RDP_APP_VIEWPORT_BGC;
    }

  }

  // toolbar styles
  &-toolbar {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 15px 20px 75px;
    overflow-y: auto;

    & > .button-fill,
    & > button {
      position: relative;
      flex-shrink: 0;
      flex-grow: 0;
      margin: 25px 0;
    }

    & > .button-fill {

      & > button {
        width: 100%;
        z-index: 2;
      }

      // visual/graphical support for the 'has-snapshots' state
      span[class^="ss-v-e-"] {
        position: absolute;
        height: 3px;
        width: 66px;
        z-index: 1;

        &.ss-v-e-1 {
          left: 6px;
          top: -3px;
          background-color: #D8D8D8;
        }
        &.ss-v-e-2 {
          width: 58px;
          left: 10px;
          top: -6px;
          background-color: #A9A9A9;
        }
        &.ss-v-e-3 {
          width: 52px;
          left: 13px;
          top: -9px;
          background-color: #616060;
        }
      }

      .button-badge {
        position: absolute;
        z-index: 3;
        top: -5px;
        right: -5px;
        text-align: center;
        min-width: 20px;
        height: 20px;
        background-color: #D73A3A;
        border: 1px solid #D9C7C7;
        color: #fff;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        border-radius: 50px;
        padding: 0 5px;
        box-shadow: 0px 2px 4px rgba(0,0,0,.75);
      }

    }

    button {

      @extend %rdp-toolbar-button;

      .fa {
        position: relative;
        top: 2px;
      }

      &:after {
        content: attr(name);
        pointer-events: none;
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        color: #fff;
        text-shadow: none;
      }

      &:active:after,
      &.active:after {
        font-weight: 700;
      }

      &[disabled]:after,
      &.disabled:after {
        color: $RDP_APP_TOOLBAR_BUTTON_DISABLED_BGC;
      }

      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }

    }

  }

  // bottom toolbar credits to guacamole
  &-credits {

    position: relative;

    a {
      display: block;
      text-align: center;
      height: 58px;
      padding-top: 14px;
      background-color: $RDP_APP_CREDIT_BGC;
      box-shadow: inset 0px 2px 4px rgba(shade($RDP_APP_CREDIT_BGC, 80%), .8);
      transition: background-color 150ms ease-out,
                  box-shadow 150ms ease-out;

      &:hover {
        background-color: $RDP_APP_TOOLBAR_BUTTON_BGC;
        box-shadow: inset 0px 2px 4px rgba(shade($RDP_APP_TOOLBAR_BUTTON_BGC, 60%), .8);
      }
    }

    img {
      height: 32px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 25px;
      top: -25px;
      background: -moz-linear-gradient(top, rgba(21,39,42,0) 0%, rgb(21,39,42) 100%);
      background: -webkit-linear-gradient(top, rgba(21,39,42,0) 0%,rgb(21,39,42) 100%);
      background: linear-gradient(to bottom, rgba(21,39,42,0) 0%,rgb(21,39,42) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0015272a', endColorstr='#8015272a',GradientType=0 );
    }

  }

  &-title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: $RDP_APP_TOOLBAR_BUTTON_BGC;

    .fa {
      position: relative;
      top: 1px;
      vertical-align: middle;
      font-size: 1.4em;
      margin-right: 10px;
    }
  }

  &-snapshots {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;

    & > li {
      position: relative;

      &:not(:last-child) {
        margin-right: 15px;
      }

      figure {
        height: 53px;
        overflow: hidden;
        border-radius: 6px;
        border: 1px solid #88A1CB;

        img {
          height: 100%;
          opacity: .4;
          transition: opacity 100ms ease-out;
        }

        &:hover > img {
          opacity: 1;
        }
      }

    }

    &--controls {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: -8px;
      height: 100%;
      top: 0;

      a {
        display: inline-block;
        background-color: #000;
        border: 1px solid #88A1CB;
        color: #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;

        .fa {
          position: relative;
          top: -1px;
        }
      }

    }

    &--controls {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: -8px;
      height: 100%;
      top: 0;

      a {
        display: inline-block;
        background-color: #000;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;

        .fa {
          position: relative;
          top: -1px;
        }
      }

    }

  }

}
