#page-secret {
  background-color: #152542;

  header {
    padding: 60px 0;
    img {
      display: block;
      margin: 0px auto;
      width: 200px;
    }
  }

  .modal-header {
    h4 i { float: right; }
  }

}
