#page-secret {
  background-color: #152542;

  header {
    padding: 60px 0;
    img {
      display: block;
      margin: 0px auto;
      width: 200px;
    }
  }

  .modal-header {
    h4 i {
      float: right;
      color: #6297f8;
    }
  }

  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
  }

  fieldset {
    label {
      width: 100%;
      padding-right: 25px;
    }
  }

  .input-message {
    float: right;
    font-size: .8em;
    position: relative;
    top: 3px;
    color: rgba(217, 30, 24, 1);
  }


  .effect-slide {

    opacity: 1;
    transform: translateY(0);
    transition: opacity 450ms ease-out,
                transform 650ms ease-out;

    &-hold {
      opacity: 0;
      transform: translateY(-20px);
    }

    &[data-delay="1"] {
      transition-delay: 200ms;
    }

  }

}
