<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Cuckoo Sandbox</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jasny-bootstrap.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jasny-bootstrap-responsive.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/jquery.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/"><i class="icon icon-home icon-white"></i></a></li>
                        <li><a href="{% url "analysis.views.index" %}">Recent</a></li>
                        <li><a href="{% url "analysis.views.search" %}">Search</a></li>
                        <li><a href="{% url "submission.views.index" %}">Submit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
