<div class="row-fluid">
    <div class="span6">
        <div class="box">
            <div class="box-header"><h3>Recent File Analyses</h3></div>
            {% if files %}
            <div class="box-content" style="padding: 0;">
                <table class="table table-striped" style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>MD5</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for analysis in files %}
                        <tr>
                            <td>
                            {% if analysis.status == "reported" %}
                                {{analysis.completed_on}}
                            {% else %}
                                <span class="muted">{{analysis.added_on}} (added on)</span>
                            {% endif %}
                            </td>
                            <td style="word-wrap: break-word;">
                                {% if analysis.status == "reported" %}
                                    <a href="{% url "analysis.views.report" analysis.id %}"><span class="mono">{{analysis.sample.md5}}</span></a>
                                {% else %}
                                    <span class="mono">{{analysis.sample.md5}}</span>
                                {% endif %}
                            </td>
                            <td>{{analysis.status}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="box-content">No files analyzed yet.</div>
            {% endif %}
        </div>
    </div>
    <div class="span6">
        <div class="box">
            <div class="box-header"><h3>Recent URL Analyses</h3></div>
            {% if urls %}
            <div class="box-content" style="padding: 0;">
                <table class="table table-striped" style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>URL</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for analysis in urls %}
                        <tr>
                            <td>
                            {% if analysis.status == "reported" %}
                                {{analysis.completed_on}}
                            {% else %}
                                <span class="muted">{{analysis.added_on}} (added on)</span>
                            {% endif %}
                            </td>
                            <td style="word-wrap: break-word;">
                                {% if analysis.status == "reported" %}
                                    <a href="{% url "analysis.views.report" analysis.id %}"><span class="mono">{{analysis.target}}</span></a></td>
                                {% else %}
                                    <span class="mono">{{analysis.target}}</span>
                                {% endif %}
                            <td>{{analysis.status}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="box-content">No URLS analyzed yet.</div>
            {% endif %}
        </div>
    </div>
</div>