{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <style>
        #recent table tr td:first-child, #recent table tr td:nth-child(2){
            word-wrap: break-word;
        }
    </style>

    <script src="/static/js/cuckoo/recent.js"></script>

    <script>
        var recent;

        $( document ).ready(function() {
            $('body').on('click', 'div.nav_container>div', function() {
                var btn_active = $(this).attr('class');

                if($('a[data-filter^="score"]', this).length) {
                    var score_choice = $(this).find('a').attr('data-filter');

                    $('.nav_container>div#item>a[data-filter^="score"]').each(function(i, obj){
                        obj = $(obj);
                        var uid = obj.attr('data-filter');

                        if(uid != score_choice){
                            obj.parent().removeClass('active');
                        }
                    });
                }

                if(!btn_active){
                    $(this).addClass('active');
                    var filter = $(this).attr('data-filter');
                    recent.load();
                } else {
                    $(this).removeClass('active');
                    recent.load();
                }
            });

            recent = new Recent();
            recent.load();

            // Detect end of page scroll
            $(window).scroll(function() {
               if($(window).scrollTop() + $(window).height() == $(document).height()) {
                    if(!recent.empty_results) recent.lazy_load();
               }
            });
        });
    </script>

    <div class="loading"><img src="/static/img/loading.gif"/></div>

    <div id="recent_analysis">
        <div class="nav_container" style="margin-bottom:30px;">
            <div id="item"><a href="#" data-filter="cat_files">Files</a></div>
            <div id="item"><a href="#" data-filter="cat_urls">URLs</a></div>
            <div id="item"><a href="#" data-filter="score_0-4">Score 0 - 4</a></div>
            <div id="item"><a href="#" data-filter="score_4-7">Score 4 - 7</a></div>
            <div id="item"><a href="#" data-filter="score_7-10">Score 7 - 10</a></div>
            <!--<div id="item"><a href="#" data-filter="pack_pdf">PDF</a></div>
            <div id="item"><a href="#" data-filter="pack_office">Office</a></div>-->
        </div>

        <div class="row">
            <div class="col-md-12">
                <table id="recent" class="table table-striped table-responsive" style="table-layout: fixed;">
                    <tbody>

                    </tbody>
                </table>

                <div id="no_more_results" class="container-fluid center">
                    <span style="color: #a5a5a5;"></span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
