{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6"><p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p></div>
    <div class="col-md-6" style="text-align: right;"><a class="btn btn-primary" href="{% url "compare.views.left" analysis.info.id %}">Compare this analysis to...</a></div>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#overview" data-toggle="tab">Quick Overview</a></li>
    <li><a href="#static" data-toggle="tab">Static Analysis</a></li>
    {% if analysis.behavior.processes %}
        <li><a href="#behavior" data-toggle="tab" id="graph_hook">Behavioral Analysis</a></li>
    {% endif %}
    <li><a href="#network" data-toggle="tab">Network Analysis</a></li>
    <li><a href="#dropped" data-toggle="tab">Dropped Files</a></li>
    <li><a href="#buffer" data-toggle="tab">Dropped Buffers</a></li>
    {% if analysis.procmemory %}
        <li><a href="#procmemory" data-toggle="tab">Process Memory</a></li>
    {% endif %}
    {% if analysis.memory %}
        <li><a href="#memory" data-toggle="tab">Memory Analysis</a></li>
    {% endif %}
    <li><a href="#admin" data-toggle="tab">Admin</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="overview">
        {% include "analysis/overview/index.html" %}
    </div>
    <div class="tab-pane fade" id="static">
        {% include "analysis/static/index.html" %}
    </div>
    {% if analysis.behavior.processes %}
        <div class="tab-pane fade" id="behavior">
            {% include "analysis/behavior/index.html" %}
        </div>
    {% endif %}
    <div class="tab-pane fade" id="network">
        {% include "analysis/network/index.html" %}
    </div>
    <div class="tab-pane fade" id="dropped">
        {% include "analysis/dropped/index.html" %}
    </div>
    <div class="tab-pane fade" id="buffer">
        {% include "analysis/buffers/index.html" %}
    </div>
    {% if analysis.procmemory %}
        <div class="tab-pane fade" id="procmemory">
            {% include "analysis/procmemory/index.html" %}
        </div>
    {% endif %}
    {% if analysis.memory %}
        <div class="tab-pane fade" id="memory">
            {% include "analysis/memory/index.html" %}
        </div>
    {% endif %}
    <div class="tab-pane fade" id="admin">
        {% include "analysis/admin/index.html" %}
    </div>
</div>
{% endblock %}
