{% extends "base.html" %}
{% block content %}

<div class="center">
    <p style="margin-bottom: 25px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
    <form class="form-search" action="{% url "analysis.views.search" %}" enctype="multipart/form-data" method="post">{% csrf_token %}
        <p class="muted" style="margin-top: 5px;">For details on how to perform searches, get some <a href="#help" data-toggle="collapse">help</a>.</p>
        <div class="input-append">
            <input type="text" class="span4 search-query" name="search" />
            <button type="submit" class="btn">Search</button>
        </div>
        <div id="help" class="collapse">
            <p class="muted" style="margin-top: 10px;">For MD5, SHA1, SHA256 and SHA512 no prefix is needed.</p>
            <table class="span6 table table-striped table-bordered table-centered">
                <thead>
                    <tr>
                        <th>Prefix</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>name:</code></td>
                        <td>File name pattern</td>
                    </tr>
                    <tr>
                        <td><code>type:</code></td>
                        <td>File type/format</td>
                    </tr>
                    <tr>
                        <td><code>ssdeep:</code></td>
                        <td>Fuzzy hash</td>
                    </tr>
                    <tr>
                        <td><code>crc32:</code></td>
                        <td>CRC32 hash</td>
                    </tr>
                    <tr>
                        <td><code>file:</code></td>
                        <td>Open files matching the pattern</td>
                    </tr>
                    <tr>
                        <td><code>key:</code></td>
                        <td>Open registry keys matching the pattern</td>
                    </tr>
                    <tr>
                        <td><code>mutex:</code></td>
                        <td>Open mutexes matching the pattern</td>
                    </tr>
                    <tr>
                        <td><code>domain:</code></td>
                        <td>Contact the specified domain</td>
                    </tr>
                    <tr>
                        <td><code>ip:</code></td>
                        <td>Contact the specified IP address</td>
                    </tr>
                    <tr>
                        <td><code>signature:</code></td>
                        <td>Search for Cuckoo Sandbox signatures</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
{% if term %}
    <h3>Term <span class="text-info"><i>{{term}}</i></span></h3>
{% endif %}

<div class="box">
    <div class="box-header">
        <h3>Search Results</h3>
    </div>
    {% include "analysis/_table.html" %}
</div>
{% endblock %}