.analysis_menu-sidebar {

}

.analysis_menu-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.analysis_menu-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.analysis_menu-userbuttons .btn:last-child {
    margin-right: 0px;
}

.analysis_menu-usermenu {

}

.analysis_menu-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
    line-height: 0.7;
}

.analysis_menu-usermenu ul li:last-child {
    border-bottom: none;
}

.analysis_menu-usermenu ul li a {
    color: #7c8b9c;
    font-size: 12px;
    font-weight: 400;
}

.analysis_menu-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.analysis_menu-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.analysis_menu-usermenu ul li.active {
    border-bottom: none;
}

.analysis_menu-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.analysis_menu-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

.analysis_menu-usermenu ul li span.label{
    margin-top:4px;
    background-color: #eaeaea;
    color: #676767;
}
@media (min-width: 992px) {
    #analysis_menu-sidebar {
        max-width: 260px;
    }
}
