<section id="hosts">
    <h4>Hosts</h4>
    {% if analysis.network.hosts %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>IP</th>
            </tr>
            {% for host in analysis.network.hosts %}
            <tr>
                {% if host|slice:":7" != "192.168" and ":" not in host %}
                <td>
                    <a target="_blank" href="{% url "analysis.views.moloch" ip=host %}">
                        {{ host }}
                        {% if host|isdeadip:analysis %}
                            (dead IP/port - was unable to connect during analysis)
                        {% endif %}
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No hosts contacted.</p>
    {% endif %}
</section>
