<section id="hosts">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Hosts
        </div>

        <div class="panel-body" style="min-height: 502px;">
            {% if report.analysis.network.hosts %}
                <table id="network_hosts" class="table table-striped table-responsive responsive" width="100%">
                    <thead><tr><th>IP Address</th></tr></thead>
                    <tbody>
                        {% for host in report.analysis.network.hosts %}
                            <tr>
                                <!-- @todo: hardcoded ip... -->
                                {% if host|slice:":7" != "192.168" and ":" not in host %}
                                <td>
                                    <a target="_blank" href="{% url "analysis.views.moloch" ip=host %}">
                                        {{ host }}
                                        {% if host|isdeadip:analysis %}
                                            (dead IP/port)
                                        {% endif %}
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hosts contacted.</p>
            {% endif %}
        </div>
    </div>
</section>
