<h4>Suricata Alerts</h4>
{% if analysis.suricata.alerts %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>Flow</th>
            <th>SID</th>
            <th>Signature</th>
            <th>Category</th>
        </tr>
        {% for alert in analysis.suricata.alerts %}
        <tr>
            <td>
                {{alert.protocol}}
                <a target="_blank" href="{% url "analysis.views.moloch" src_ip=alert.src_ip src_port=alert.src_port %}">{{alert.src_ip}}:{{alert.src_port}}</a> -&gt;
                <a target="_blank" href="{% url "analysis.views.moloch" dst_ip=alert.dst_ip dst_port=alert.dst_port %}">{{alert.dst_ip}}:{{alert.dst_port}}</a>
            </td>
            <td><a target="_blank" href="{% url "analysis.views.moloch" sid=alert.sid %}">{{alert.sid}}</a></td>
            <td><a target="_blank" href="{% url "analysis.views.moloch" sid=alert.sid %}">{{alert.signature}}</a></td>
            <td>{{alert.category}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No Suricata Alerts</p>
{% endif %}

<h4>Suricata TLS</h4>
{% if analysis.suricata.tls %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>Flow</th>
            <th>Issuer</th>
            <th>Subject</th>
            <th>Fingerprint</th>
        </tr>
        {% for tls in analysis.suricata.tls %}
        <tr>
            <td>
                {{tls.version}} <br />
                <a target="_blank" href="{% url "analysis.views.moloch" src_ip=tls.src_ip src_port=tls.src_port %}">{{tls.src_ip}}:{{tls.src_port}}</a> <br />
                <a target="_blank" href="{% url "analysis.views.moloch" dst_ip=tls.dst_ip dst_port=tls.dst_port %}">{{tls.dst_ip}}:{{tls.dst_port}}</a>
            </td>
            <td>{{tls.issuer}}</td>
            <td>{{tls.subject}}</td>
            <td>{{tls.fingerprint}}</td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No Suricata TLS</p>
{% endif %}
