<section id="udp">
    <h4>UDP</h4>
    {% if analysis.network.udp %}
        <table class="table table-striped table-bordered">
            <tr>
                <th>Source</th>
                <th>Source Port</th>
                <th>Destination</th>
                <th>Destination Port</th>
            </tr>
            {% for p in analysis.network.udp %}
            <tr>
                <td>{{p.src}}</td>
                <td>{{p.sport}}</td>
                <td>{{p.dst}} {{ iplookups|get_item:p.dst }}</td>
                <td>{{p.dport}}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No TCP connections recorded.</p>
    {% endif %}
</section>
