<style>
    pre {
        /* Make the pre's in this page wrap to the next line instead of having
        to move around with the cursor. */
        white-space: pre-wrap;
    }
</style>

<script>
    var task_id = {{report.analysis.info.id}};
    var http_data = {};
</script>

<h4>HTTP &amp; HTTPS Requests</h4>
{% if report.analysis.network.http_ex or report.analysis.network.https_ex %}
    {% for http in report.analysis.network.http_ex %}
        <div class="network_http_request" id="http_{{ forloop.counter0 }}">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-arrow-right"></span> Request</div>
                    <div class="col-md-8">Body</div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <pre class="url">http://{{http.host}}{{http.uri}}</pre>
                        <pre class="headers">{{http.request}}</pre>
                    </div>
                    <div class="col-md-8">
                        <!-- @TO-DO: request body -->
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-arrow-left"></span> Response
                    </div>

                    <div class="col-md-8">
                        Body
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <pre class="headers">{{http.response}}</pre>
                    </div>
                    <div class="col-md-8" id="body">
                        <pre class="body"></pre>
                        
                        <script>
                            $(document).ready(function() {
                                CuckooWeb.api_post("/analysis/api/network_http_response_data/", {
                                    "task_id": task_id,
                                    "request_body": false,
                                    "request_index": {{ forloop.counter0 }}
                                }, function(data) {
                                    sel = $("#http_" + {{ forloop.counter0 }} + ">.panel>.row pre.body");

                                    hex = hexy(base64.decode(data["body"]));
                                    sel.append(hex);
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% elif report.analysis.network.http %}
<table class="table table-striped table-bordered" style="table-layout: fixed;">
    <tr>
        <th>URI</th>
        <th>Data</th>
    </tr>
    {% for request in report.analysis.network.http %}
    <tr>
        <td style="word-wrap: break-word;">{{request.uri}}</td>
        <td style="word-wrap: break-word;"><pre>{{request.data}}</pre></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No HTTP requests performed.</p>
{% endif %}
