<div class="network-display__outer" id="http-requests">
    {% if report.analysis.network.http_ex or report.analysis.network.https_ex %}
    <!-- {% for http in report.analysis.network.https_ex %}
    
    {% endfor %} -->

    {% for http in report.analysis.network.http_ex %}

        <div class="network-display__request" data-protocol="{{ http.protocol }}" data-index="{{ forloop.counter0 }}">
            <a class="network-display__request-summary" href="#">
                <span class="method">{{ http.method }}</span>
                <i class="fa fa-long-arrow-right"></i>
                <span class="status-code--success">{{ http.status }}...</span>
                <span class="url">{{ http.protocol }}://{{http.host}}{{http.uri}}</span>
                <i class="fa fa-chevron-right align-right"></i>
            </a>
            <section class="network-display__request-details">

                <div class="detail-field-group">
                    <div class="detail-field">
                        <header class="detail-field__header"><i class="fa fa-long-arrow-right"></i> REQUEST</header>
                        <section class="detail-field__body">

                            <div class="hidden" data-contents="request-headers">{{ http.request }}</div>

                            <table>
                                <tbody>
                                    <tr>
                                        <td class="key-name">&nbsp;</td>
                                        <td class="key-value">GET /favicon.ico HTTP/1.1</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Accept:</td>
                                        <td class="key-value">*/*</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">UA-CPU:</td>
                                        <td class="key-value">AMD64</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Accept-Encoding:</td>
                                        <td class="key-value">gzip, deflate</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">User-Agent:</td>
                                        <td class="key-value">Mozilla/4.0 (compatible; MSIE8.0; Windows NT 6.1; Win64; x64; Trident/4.0; .NET CLR 2.0.50727; SLCC2; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E)</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Host:</td>
                                        <td class="key-value">mijn.ing.nl</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Connection:</td>
                                        <td class="key-value">Keep-Alive</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Cookie:</td>
                                        <td class="key-value">CSESSIONID=03642OCEJnFgcnAjSADDC01FfStenw2ONMkflAdZzXGh9FE3qtoE7w004DF917450058371C2E000001;TS018e0e14=01f83a9401e7bb550873687f899e389bb33cc6fcc4ae23ad891f1ecfaca37baab9406617472d2a4c83de6a788bc7b77fba00597c2c1cb800a9828aec7541a853e57ba91268;lb-3p-201=mewERE4sOG5uFaeFBXoaC0sQdXQe9uMkEtZIJvQFCsLvDEL38uVKIT6/42QGTUQjO3EsvR66WVZ4fXKc9PPlpbehfqoCXdXlugUPnTXsA==;TS014f1a8a=01f83a9401e93582481229949bd55c5a297a2eed4dae23ad891f1ecfaca37baab9406617475777086aeb398ff7a42de84b835921c5f3ead6d2505cfbe8ac3593be9d36229e</td>
                                    </tr>
                                </tbody>
                            </table>

                        </section>
                    </div>
                    <div class="detail-field">
                        <header class="detail-field__header"><i class="fa fa-long-arrow-left"></i> RESPONSE</header>
                        <section class="detail-field__body">

                            <div class="hidden" data-contents="response-headers">{{ http.response }}</div>
                            
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="key-name">&nbsp;</td>
                                        <td class="key-value">GET /favicon.ico HTTP/1.1</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Date:</td>
                                        <td class="key-value">Thu, 24 Nov 2016 16:58:22 GMT</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Content-Type:</td>
                                        <td class="key-value">text/html</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Content-Length:</td>
                                        <td class="key-value">268</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Connection:</td>
                                        <td class="key-value">Keep-Alive</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">X-Powered-By:</td>
                                        <td class="key-value">Servlet/3.0</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Last-Modified:</td>
                                        <td class="key-value">Mon, 14 Nov 2016 10:38:06 GMT</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Content-Language:</td>
                                        <td class="key-value">en-US</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">X-XSS-Protection:</td>
                                        <td class="key-value">1; mode=block</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">X-Content-Type-Options:</td>
                                        <td class="key-value">Keep-Alive</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Strict-Transport-Security:</td>
                                        <td class="key-value">max-age=31622400</td>
                                    </tr>
                                    <tr>
                                        <td class="key-name">Set-Cookie:</td>
                                        <td class="key-value">lb-3p-201=mewERE4sOG5uFaeFBXoaC0sQdXQe9uMkEtZIJvQFCsLvDEL38uVKIT6/42QGTUQjO3EsvR66WVZ4fXKc9PPlpbehfqoCXdXlugUPnTXsA==; path=/; Httponly;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </section>
                    </div>
                </div>

                <div class="detail-field">
                    <header class="detail-field__header with-tabs">
                        <i class="fa fa-file-o"></i> BODY
                        <nav class="flex-tabs__tabs">
                            <div class="flex-tabs__tab">
                                <a href="display:request" class="btn btn-sm">request</a>
                                <a href="display:response" class="btn btn-sm active">response</a>
                            </div>
                            <div class="flex-tabs__tab">
                                <a href="output:plaintext" class="btn btn-sm">plaintext</a>
                                <a href="output:hex" class="btn btn-sm active">hex</a>
                            </div>
                            <div class="flex-tabs__tab tab-mode">
                                <a href="mode:16bit" class="btn btn-sm active">16bit</a>
                                <a href="mode:32bit" class="btn btn-sm">32bit</a>
                            </div>
                        </nav>
                    </header>
                    <section class="detail-field__body"></section>
                </div>

            </section>
        </div>

    {% endfor %}
    {% endif %}
</div>