{% load staticfiles %}
{% load analysis_tags %}

<div class="flex-grid__horizontal flex-grid__fluid">

    <div class="flex-grid__column--md" id="requests">
            
            <ul class="source-destination">
                <li class="title">TCP Requests</li>
                {% for p in report.analysis.network.tcp %}
                    <li>
                        <a href="{{p.src}},{{p.sport}},{{p.dst}},{{p.dport}},tcp">
                            <div class="flex-distribute">
                                <span class="source">
                                    {{p.src}}:{{p.sport}}
                                </span>
                                <i class="fa fa-long-arrow-right"></i>
                                <span class="destination">
                                    {{p.dst}}:{{p.dport}}
                                </span>
                            </div>
                            <span class="destination-address">{{ report.iplookups|get_item:p.dst }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
    </div>

    <div class="flex-grid__column">
        <div class="network-display__outer">
            <div class="network-display__requests" id="packets"> </div>
        </div>
    </div>

</div>

<script>

    $(function() {

        $('.source-destination li:nth-child(2) a').addClass('active');

        $('.source-destination a').bind('click', function(e) {
            e.preventDefault();
            $('.source-destination a').removeClass('active');
            $(this).addClass('active');
        });

    });

</script>