<section id="summary">
    <h4><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Summary</h4>
    <div class="tabbable tabs">
        <ul class="nav nav-pills" style="margin-bottom: 0;">
            <li class="active"><a href="#summary_files" data-toggle="tab">Files</a></li>
            <li><a href="#summary_keys" data-toggle="tab">Registry</a></li>
            <li><a href="#summary_mutexes" data-toggle="tab">Mutexes</a></li>
            <li><a href="#summary_directories" data-toggle="tab">Directories</a></li>
            <li><a href="#summary_processes" data-toggle="tab">Processes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="summary_files">
                {% for process in analysis.behavior.generic %}
                    {% if process.summary %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Process {{process.process_name}} ({{process.pid}})</h3></div>
                        <ul class="list-group">
                        {% if process.summary.file_opened %}
                            <li class="list-group-item">
                                <p><b>Opened files</b></p>
                                <ul>
                                {% for entry in process.summary.file_opened %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.file_written %}
                            <li class="list-group-item">
                                <p><b>Written files</b></p>
                                <ul>
                                {% for entry in process.summary.file_written %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.file_read %}
                            <li class="list-group-item">
                                <p><b>Files Read</b></p>
                                <ul>
                                {% for entry in process.summary.file_read %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="summary_keys">
                {% for process in analysis.behavior.generic %}
                    {% if process.summary %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Process {{process.process_name}} ({{process.pid}})</h3></div>
                        <ul class="list-group">
                        {% if process.summary.regkey_opened %}
                            <li class="list-group-item">
                                <p><b>Registry keys opened</b></p>
                                <ul>
                                {% for entry in process.summary.regkey_opened %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.regkey_written %}
                            <li class="list-group-item">
                                <p><b>Registry keys written</b></p>
                                <ul>
                                {% for entry in process.summary.regkey_written %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.regkey_read %}
                            <li class="list-group-item">
                                <p><b>Registry keys read</b></p>
                                <ul>
                                {% for entry in process.summary.regkey_read %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="summary_mutexes">
                {% for process in analysis.behavior.generic %}
                    {% if process.summary %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Process {{process.process_name}} ({{process.pid}})</h3></div>
                        <ul class="list-group">
                        {% if process.summary.mutex %}
                            <li class="list-group-item">
                                <p><b>Mutexes accessed</b></p>
                                <ul>
                                {% for entry in process.summary.mutex %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="summary_directories">
                {% for process in analysis.behavior.generic %}
                    {% if process.summary %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Process {{process.process_name}} ({{process.pid}})</h3></div>
                        <ul class="list-group">
                        {% if process.summary.directory_created %}
                            <li class="list-group-item">
                                <p><b>Directories created</b></p>
                                <ul>
                                {% for entry in process.summary.directory_created %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.directory_removed %}
                            <li class="list-group-item">
                                <p><b>Directories removed</b></p>
                                <ul>
                                {% for entry in process.summary.directory_removed %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.directory_enumerated %}
                            <li class="list-group-item">
                                <p><b>Directories enumerated</b></p>
                                <ul>
                                {% for entry in process.summary.directory_enumerated %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="summary_processes">
                {% for process in analysis.behavior.generic %}
                    {% if process.summary %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Process {{process.process_name}} ({{process.pid}})</h3></div>
                        <ul class="list-group">
                        {% if process.summary.command_line %}
                            <li class="list-group-item">
                                <p><b>Processes created</b></p>
                                <ul>
                                {% for entry in process.summary.command_line %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if process.summary.dll_loaded %}
                            <li class="list-group-item">
                                <p><b>DLLs Loaded</b></p>
                                <ul>
                                {% for entry in process.summary.dll_loaded %}
                                    <li>{{entry}}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
