{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<div class="row">
    <div class="col-md-6" style="border-right: 1px dashed #ddd;">
        <h2 style="text-align: center;">Analysis 1</h2>

        {% include "compare/_info.html" with record=left %}
    </div>
    <div class="col-md-6">
        <h2 style="text-align: center;">Analysis 2</h2>

        <p>You need to select the second analysis. Following are all the other analyses of the same file:</p>

        <ul>
        {% for record in records %}
            {% if record.info.id != left.info.id %}
                <li><a href="{% url "compare.views.both" left.info.id record.info.id %}">Analysis with ID {{record.info.id}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
