body {
    margin: 0;
    background: #d1d1d1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAADwCAIAAACljiJhAAAABGdBTUEAALGPC/xhBQAAAAd0SU1FB9oJHhUzHtYu7vwAAAH9SURBVDhP5c/bQuJAEITh2vd/OlBAIJzCmRAQQgQEcf/qoLh7t9dbk+mva/SGX5+fnyLg7b/lxm+/8etvYt5oN+IW+eLj48ZRTIh8cb1SrgIOOH9xuVz5dHHuXHR555h3FnkEDpyNh9v5zBacz4oJp+B0Op9OJ5pDI8cKt+PxeNLRHOXxBm8+YPXmVPBoyqAsS5WlF3C+OZSHaAcWcYOIKQ6FCkZhnB/s94X2xb4o9obI48Fuv+MTE+W5233z+lq1VxY/orYMiLmtGkR+sNlutCHBdrupmsnv5GzKc1dg5m7rfK18zVxr7eTyzmNGyXgMlRH+hcGJlmVaVWSr1Spb0awYwRKWYLXE5VIewcJ4LIAsF1raheYVMedazOc8+JFF3Plsrpk1s5lbCI6mjOlU3NmUFgG6mU7MZMInD9okYsZjM+YTa8DbeKzU048kDVIeU2YK6SgNiFipSkcOrWI0DIaj4XAIQxYx3WIOzAAGzrDi3qBftf6g3+/zN2ZfHg96/R6fehFRTK+XJElPyR1KksgFYkI34VM36RJ5JBWdBx1KVx3odMBRpx20sX2nrXbkD1704rS/aEV1a7Va4rq1XKIFTc43zao1I2o0GqbZZGnIu4mo8Uwa4nLEJbQHT3p6euaIywYIEVMHLgvUier12g+812qqkXrFvf0LvwHWNSZ/iM2C+AAAAABJRU5ErkJggg==) repeat-x;
    font-family: Verdana, Tahoma, Serif;
    font-size: 12px;
    text-align: center;
}
#container {
    width: 90%;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: white;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}
#header {
    position: absolute;
    top: 38px;
    margin-left: 10px;
}
#menu {
    background-image: linear-gradient(bottom, rgb(27,78,97) 15%, rgb(37,129,162) 100%);
    background-image: -o-linear-gradient(bottom, rgb(27,78,97) 15%, rgb(37,129,162) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(27,78,97) 15%, rgb(37,129,162) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(27,78,97) 15%, rgb(37,129,162) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(27,78,97) 15%, rgb(37,129,162) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.15, rgb(27,78,97)),
        color-stop(1, rgb(37,129,162))
    );
    
    margin: 0;
    height: 35px;
    line-height: 35px;
    text-align: right;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
}
#menu ul {
    list-style-type: none;
}
#menu li {
    float: right;
    margin-right: 10px;
}
#menu a:link, #menu a:visited {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: block;
}
#menu a:hover {
    text-decoration: none;
    background: #2580a2;
}
#content {
    padding: 20px;
}
#footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #666;
    font-size: 10px;
    text-align: center;
}

/* Links */
a:link, a:visited {
    color: #2580a2;   
}
a:hover {
    color: black;
}

/* Styles */
div.space {
    margin-bottom: 20px;
}
div.space-small {
    margin-bottom: 5px;
}
div.page-title {
    font-family: "Lucida Grande", Verdana;
    font-weight: lighter;
    font-variant: normal;
    text-transform: uppercase;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center!important;
    letter-spacing: 0.3em;
}
div.section {
}
div.section-title {
    background-color: #729dad;
    
    margin: 0;
    height: 20px;
    line-height: 20px;
    text-align: left;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

    font-family: Verdana, Tahoma, Serif;
    color: white;
    font-size: 12px;
    padding: 1px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.section-subtitle {
    padding-bottom: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}
div.section-nested {
    padding: 15px;
}
img.fade {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
img.fade:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* Text styles */
span.mono {
    font-family: monospace;
}
span.blue {
    color: #2580a2;
}
span.gray {
    color: #666;
}

/* Generals */
pre {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
fieldset {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: 1px solid #ccc;
    /*padding: 20px;*/
    background-color: #f7f7f7;
}
legend {
    margin-left: 15px;
    font-family: Verdana, Tahoma, Serif;
    font-size: 12px;
    color: #222;
}

/* Tables */
table {
    font-family: Verdana, Tahoma, Serif;
    font-size: 12px;
    table-layout: fixed;
}
tr.row {
}
tr.alternate {
    background: #eee;
}
tr.alternate-light {
    background: #f7f7f7;
}
td.title {
    padding: 5px;
    font-weight: bold;
    background: #ccdddd;
    font-size: 12px;
}
td.title:first-child {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
td.title:last-child {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
td.row {
    padding: 5px;
    font-size: 11px;
}
td.form {
   padding-bottom: 6px;
}
