{% extends "base.html" %}
{% block content %}
<div class="center">
    <p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
    <div class="span6" style="margin: 0 auto; float: none;">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#file" data-toggle="tab"><i class="icon icon-file"></i> File</a></li>
                    <li><a href="#url" data-toggle="tab"><i class="icon icon-globe"></i> URL</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="file">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                                <span class="btn btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" name="sample" id="sample" />
                                </span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                             </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="url">
                        <label>URL<label><input type="text" name="url" id="url" />
                    </div>
                </div>
            </div>
            <div class="accordion" id="options-group" style="margin-top: 10px;">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="options-group" href="#options"><i class="icon icon-cog"></i> Advanced Options</a>
                    </div>
                    <div id="options" class="accordion-body collapse" style="text-align: left;">
                        <div class="accordion-inner">
                            <label>Analysis Package</label>
                            <select name="package">
                                <option value="" active>Detect Automatically</option>
                                {% for package in packages %}
                                <option value="{{package}}">{{package}}</option>
                                {% endfor %}
                            </select>
                            <label>Timeout</label><input type="text" name="timeout" />
                            <label>Options</label><input type="text" name="options" />
                            <label>Priority<label>
                            <select name="priority">
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                            </select>
                            <label>Machine</label><input type="text" name="machine" />
                            <label>Custom</label><input type="text" name="custom" />
                            <label class="checkbox">
                                <input type="checkbox" name="free" /> No Injection <span class="muted"><small>(disable behavioral analysis)</small></span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="process_memory" /> Process Memory Dump
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="memory" /> Full Memory Dump
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enforce_timeout" /> Enforce Timeout
                            </label>
                            <label>Tags</label><input type="text" name="tags" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;"><button type="submit" class="btn btn-primary btn-large">Analyze</button></div>
        </form>
    </div>
</div>
{% endblock %}