{% extends "base.html" %}
{% block content %}
<p style="margin-bottom: 10px;"><img src="{{ STATIC_URL }}graphic/cuckoo.png" /></p>
{% if completed %}
    <div class="alert alert-success"><h4>Good news! :-)</h4>The analysis is completed, you can view it <a href="{% url "analysis.views.details" task_id %}">here</a>.</div>
{% else %}
    <script type="text/JavaScript">setTimeout("location.reload(true);",30000);</script>
    <div class="alert alert-info">
        <h4>Hang on...</h4>
        <p>The analysis is not completed yet (current status is "{{status}}"). This page will refresh every 30 seconds.</p>
        <div class="progress" style="margin-top: 10px;">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 100%"></div>
        </div>
    </div>
{% endif %}
{% endblock %}
