{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="flex-grid__horizontal--grow dashboard">
    <div class="flex-grid__column dashboard__left">
        <h2 class="dashboard__col-title">Insights</h2>

        <div class="dashboard-module">
            <header class="dashboard-module__header">
                <h4>Cuckoo Installation</h4>
            </header>
            <section class="dashboard-module__body">
                <table class="simple">
                    <tbody>
                        <tr>
                            <td>Version</td>
                            <td>2.0</td>
                        </tr>
                        <tr>
                            <td>Last update</td>
                            <td>14-03-2017</td>
                        </tr>
                        <tr>
                            <td>Health</td>
                            <td>OK</td>
                        </tr>
                        <tr>
                            <td>Running</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>IDLE</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <footer class="dashboard-module__footer">
                <p>How to: <a href="#">Upgrade your Cuckoo installation</a></p>
            </footer>
        </div>

        <div class="dashboard-module">
            <header class="dashboard-module__header">
                <h4>System info</h4>
            </header>
            <section class="dashboard-module__body">
                
                <div class="dashboard-module__body--left">
                    <table class="simple">
                        <tbody>
                            <tr>
                                <td>Network</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td>Internet</td>
                                <td>YES</td>
                            </tr>
                            <tr>
                                <td>OS</td>
                                <td>Mac OSX 10.11</td>
                            </tr>
                            <tr>
                                <td>VM</td>
                                <td>VirtualBox</td>
                            </tr>
                            <tr>
                                <td>Routing</td>
                                <td>HTTP</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="dashboard-module__body--right free-disk-space">
                    <h5>Free disk space</h5>
                </div>

            </section>
            <footer class="dashboard-module__footer">
                <p>How to: <a href="#">Configure Cuckoo system options</a></p>
            </footer>
        </div>

        <div class="dashboard-module">
            <header class="dashboard-module__header">
                <h4>Usage statistics</h4>
            </header>
            <section class="dashboard-module__body">
                <table class="simple">
                    <tbody>
                        {% for state, count in report.states_count.items %}
                            <tr>
                                <td>{{ state }}</td>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <footer class="dashboard-module__footer">
                <p>How to: <a href="#">Manage Cuckoo processes</a></p>
            </footer>
        </div>

    </div>
    <div class="flex-grid__column dashboard__right">
        <h2 class="dashboard__col-title">Cuckoo</h2>
    </div>
</div>

{% endblock %}
