<div class="panel panel-default list-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Script</h3>
    </div>
    <pre class="reset">
	    <code {{#if type}}class="{{type}}"{{/if}}>{{ code }}</code>
	</pre>
</div>