	<legend class="flex-form__field-title">{{title}} <a href="#"><i class="fa fa-info-circle"></i></a></legend>
	<div class="flex-form__select">
		<select name="{{name}}">
			{{#each options}}
				<option value="{{value}}">{{name}}</option>
			{{/each}}
		</select>
		<i class="fa fa-chevron-down"></i>
	</div>