{% load staticfiles %}
    <!-- Footer -->
    <footer>
        <div class="container-fluid center">
            <a href="#">Back to the top</a>
        </div>
    </footer>
    <div id="footer-extra">
        <div class="container-fluid center">
            <div>&copy;2010-2017 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a></div>
        </div>
    </div>

    <!-- feedback form modal -->
    {% include "analysis/pages/feedback/form.html" %}

    <!-- cuckoo freeze-page loader -->
    <div class="page-freeze" id="page-freeze-container">
        <div class="page-freeze__graphic">
            <img src="{% static "graphic/cuckoo-coffee-cup.png" %}" alt="Cuckoo" />
        </div>
        <div class="page-freeze__animation">
            <!-- spinner -->
            <div class="page-freeze__spinner">
                <div class="page-freeze__spinner--c1"></div>
                <div class="page-freeze__spinner--c2"></div>
            </div>
        </div>
        <div class="page-freeze__context">
            <p class="page-freeze__message">We're processing your submission... This could take a few seconds.</p>
            <div class="page-freeze__options hidden">
                <button class="btn btn-default btn-lg close-page-freeze">Close</button>
            </div>
        </div>
    </div>

    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/handlebars-templates.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap-fileupload.js" %}"></script>
    <script src="{% static "js/misc/lightbox.js" %}"></script>
    <script src="{% static "js/cuckoo/analysis_sidebar.js" %}"></script>
    <script src="{% static "js/cuckoo/submission.js" %}"></script>
    <script src="{% static "js/cuckoo/app.js" %}"></script>
</body>
</html>
