{% load staticfiles %}
    <!-- Footer
    ================================================== -->
    <footer>
        <div class="container-fluid center">
            <a href="#">Back to the top</a>
        </div>
    </footer>
    <div id="footer-extra">
        <div class="container-fluid center">
            <div>&copy;2010-2016 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a></div>
        </div>
    </div>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap-fileupload.js" %}"></script>
    <script src="{% static "js/lightbox.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>
