{% load staticfiles %}
    <!-- Footer
    ================================================== -->
    <footer>
        <div class="container-fluid center">
            <a href="#">Back to the top</a>
        </div>
    </footer>
    <div id="footer-extra">
        <div class="container-fluid center">
            <div>&copy;2010-2016 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a></div>
        </div>
    </div>

    <!-- feedback form modal -->
    {% include "analysis/pages/feedback/form.html" %}

    <script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap-fileupload.js" %}"></script>
    <script src="{% static "js/misc/lightbox.js" %}"></script>
    <script src="{% static "js/cuckoo/analysis_sidebar.js" %}"></script>
    <script src="{% static "js/cuckoo/app.js" %}"></script>
</body>
</html>
