{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Cuckoo Sandbox</title>
        <link rel="shortcut icon" type="image/png" href=" {% static 'favicon-64x64.png' %}" sizes="64x64" />
        <link rel="shortcut icon" type="image/png" href=" {% static 'favicon-32x32.png' %}" sizes="32x32" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Cuckoo Sandbox" />
        <meta name="author" content="Cuckoo Sandbox" />
        
        <link href="{% static "css/vendor.css"%}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/main.css"%}" rel="stylesheet" type="text/css" />
        <link href="{% static "css/lightbox.css" %}" rel="stylesheet" />

        {% if report.analysis.info.id %}
            <script>
                var task_id = '{{ report.analysis.info.id }}';
            </script>
        {% endif %}

        <script src="{% static "js/vendor.js" %}"></script>
        <script src="{% static "js/handlebars-templates.js" %}"></script>
        <script src="{% static "js/hexdump.js" %}"></script>
        <script src="{% static "js/cuckoo/loader.js" %}"></script>
        <script src="{% static "js/cuckoo/analysis_sidebar.js" %}"></script>
        <script src="{% static "js/cuckoo/submission.js" %}"></script>
        <script src="{% static "js/cuckoo/recent.js" %}"></script>
        <script src="{% static "js/cuckoo/app.js" %}"></script>
        <script src="{% static "js/cuckoo/analysis_network.js" %}"></script>

    </head>

    <body 

        {% if request.COOKIES.theme == "night" %}
            class="night"
        {% elif request.COOKIES.theme == "cyborg" %}
            class="cyborg"
        {% endif %}

        id="{{ env.view_name }}"

    >

    {% include "components/primary-nav.html" %}