<!doctype html>

{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cuckoo Sandbox</title>
    <link rel="shortcut icon" type="image/png" href=" {% static 'favicon-64x64.png' %}" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href=" {% static 'favicon-32x32.png' %}" sizes="32x32" />
    <link href="{% static "css/vendor.css"%}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/main.css"%}" rel="stylesheet" type="text/css" />
  </head>
  <body class="no-padding" id="page-secret">
    <div class="flex-grid-full">
      <header>
        <img src="{% static "graphic/cuckoo_inverse@2x.png" %}" />
      </header>
      <section>

        <div class="modal-cuckoo">
          <form class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4>Feedback <i class="fal fa-bug"></i></h4>
              </div>
            </div>
          </form>
        </div>

      </section>
    </div>
    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/cuckoo/secret.js" %}"></script>
  </body>
</html>
