<!doctype html>

{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cuckoo Sandbox</title>
    <link rel="shortcut icon" type="image/png" href=" {% static 'favicon-64x64.png' %}" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href=" {% static 'favicon-32x32.png' %}" sizes="32x32" />
    <link href="{% static "css/vendor.css"%}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/main.css"%}" rel="stylesheet" type="text/css" />
  </head>
  <body class="no-padding" id="page-secret">
    <div class="flex-grid-full">
      <header>
        <img src="{% static "graphic/cuckoo_inverse@2x.png" %}" />
      </header>
      <section>

        <div class="modal-cuckoo">
          <form class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4>Secret <i class="fal fa-fingerprint"></i></h4>
              </div>
              <p class="modal-section arrow">This Cuckoo Sandbox instance has been locked with a secret. Please fill in the secret in the field below to enter the web interface.</p>
              <div class="modal-section modal-form no-flex arrow">
                <div class="form-col">
                  <fieldset>
                    <input type="password" name="cuckoo-secret" id="cuckoo-secret" required />
                    <label for="cuckoo-secret">Secret <span class="input-message"></span></label>
                  </fieldset>
                </div>
                <nav class="form-col button-nav">
                  <div class="button-nav__left">
                    <a class="button variation-grey" href="action:toggle-info">What is this?</a>
                  </div>
                  <div class="button-nav__right">
                    <a class="button variation-grey" href="action:leave">Leave</a>
                    <button type="submit" class="button variation-blue">Enter</button>
                  </div>
                </nav>
              </div>
              <div class="modal-section hidden" data-toggleable-col>
                <p>This is some space reserved for some kind of bold explanation of why this is a necessary step in the process. Since I do not have an idea what to put here at the time of designing, I’ll just proceed to a random brabble session. That means throwing some words together that read as if it’s actually a story that makes sense. It most certainly does not and serves at this time as some placeholder copy. I just did not want to put Lorem Ipsum because everybody else is always doing that, and this may or may not add a slightly personal touch to it. I really don’t know.</p>
              </div>
            </div>
          </form>
        </div>

      </section>
    </div>
    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/cuckoo/secret.js" %}"></script>
  </body>
</html>
