@import "bourbon"; // ** BOURBON
@import "node.normalize.scss/normalize"; // ** NORMALIZE.CSS
@import "jquery-ui-bundle/jquery-ui"; // ** JQUERY UI
@import "gridstack/src/gridstack"; // ** GRIDSTACK

body {
  font-family: "Roboto", "Helvetica", sans-serif;
  background-color: #3f444c;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

%reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%flex-list {
  @extend %reset-list;
  display: flex;
}

@import "./lib/ext";
@import "./lib/header";
@import "./lib/loader";
@import "./lib/widget";
