<!doctype html>
<html>
  <head>
    <meta name="charset" content="utf-8" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <title>Cuckoo Distributed</title>
  </head>
  <body>

    <!-- main application wrapper -->
    <main role="application">

      <!-- application header -->
      <header id="app-header" role="banner">
        <a href="#" class="logo">
          <img src="/static/images/cuckoo_inverse.png" alt="Cuckoo Sandbox" />
        </a>
        <div role="heading">
          <h1>usage &amp; memory consumption statistics <small role="complementary">v1.0</small></h1>
        </div>
      </header>

      <!-- main application body  -->
      <section role="main">

        <!-- grid: jumbo block for big items that needs attention -->
        <!-- <div class="grid-stack jumbo-grid" role="grid" id="jumbo-grid"></div> -->

        <!-- grid: sub-grid with all other kinds of charts -->
        <div class="grid-stack widget-grid" role="grid" id="grid"></div>

      </section>

      <template id="widget--tasks">{% include 'widgets/tasks.html' %}</template>

    </main>

    <!-- temporary workaround: direct node_modules includes (routed with Flask) -->
    <script src="/static/js/lib.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
