<table class="table table-bordered" style="table-layout: fixed;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Name</th>
            <th>Binary Path</th>
            <th>PID</th>
            <th>Type</th>
            <th>Order</th>
            <th>Offset</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
    {% for row in analysis.memory.svcscan.data|volsort %}
        <tr>
            <td class="{{ row.class_ }}">{{row.service_name}}</td>
            <td class="{{ row.class_ }}">{{row.service_display_name}}</td>
            <td class="{{ row.class_ }}">{{row.service_binary_path}}</td>
            <td class="{{ row.class_ }}">{{row.process_id}}</td>
            <td class="{{ row.class_ }}">{{row.service_type}}</td>
            <td class="{{ row.class_ }}">{{row.service_order}}</td>
            <td class="{{ row.class_ }}"><span class="mono">{{row.service_offset}}</span></td>
            <td class="{{ row.class_ }}">{{row.service_state}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
