{% load static from staticfiles %}

<nav class="app-nav" id="primary-nav">

	<a href="/" class="logo">
		<img src="{% static "graphic/cuckoo_inverse.png" %}" />
	</a>

	<ul class="app-nav__nav--primary">
		<li {% if "/dashboard/" in request.path or request.path == "/" %}class="active"{% endif %}><a href="{% url "dashboard.views.index" %}"><i class="fa fa-tachometer"></i> Dashboard</a></li>
		<li {% if request.path == "/analysis/" %}class="active"{% endif %}><a href="{% url "analysis/recent" %}"><i class="fa fa-th-list"></i> Recent</a></li>
		<li {% if request.path == "/analysis/pending/" %}class="active"{% endif %}><a href="{% url "analysis.views.pending" %}"><i class="fa fa-cogs"></i> Pending</a></li>
		<li {% if request.path == "/analysis/search/" %}class="active"{% endif %}><a href="{% url "analysis.views.search" %}"><i class="fa fa-search"></i> Search</a></li>
	</ul>

	<ul class="app-nav__nav--right">
		<li>
			<a href="{% url "submission/index" %}" class="button outline">Submit</a>
		</li>
		<li>
			<a href="{% url "analysis/import" %}" class="button outline">Import</a>
		</li>
		<li class="app-nav__dropdown--parent">
			<a href="#" id="select-theme">
				<i class="fa fa-paint-brush"></i>
			</a>
			<div class="app-nav__dropdown">
				<h5>Select theme</h5>
				<ul class="flex-distribute theme-selection">
					<li><a {% if request.COOKIES.theme == "default" or not request.COOKIES.theme %}class="active"{% endif %} href="theme:default">Default</a></li>
					<li><a {% if request.COOKIES.theme == "cyborg" %}class="active"{% endif %} href="theme:cyborg">Cyborg</a></li>
					<li><a {% if request.COOKIES.theme == "night" %}class="active"{% endif %} href="theme:night">Night</a></li>
				</ul>
			</div>
		</li>
	</ul>

</nav>