{% extends "base-report.html" %}
{% block content %}
    {% include "sections/info.html" %}
    {% include "sections/errors.html" %}
    {% if results.info.category == "file" %}
        {% include "sections/file.html" %}
    {% elif results.info.category == "url" %}
        {% include "sections/url.html" %}
    {% endif %}
    {% if  results.apkinfo %}
        {% include "sections/apkinfo.html" %}
    {% endif %}
    {% if results.googleplay %}
        {% include "sections/googleplay.html" %}
    {% endif %}
    {% include "sections/signatures.html" %}
    {% if results.apkinfo %}
        {% include "sections/apicalls.html" %}
    {% endif %}
    {% include "sections/screenshots.html" %}
    {% if results.info.category == "file" %}
        {% include "sections/static.html" %}
    {% endif %}
    {% include "sections/dropped.html" %}
    {% include "sections/network.html" %}
    {% include "sections/behavior.html" %}
    {% include "sections/volatility.html" %} 
{% endblock %}