{% extends "base.html" %}
{% load staticfiles %}
{% load analysis_tags %}
{% block content %}

<div class="flex-nav">
    {% include "analysis/pages/nav-sidebar.html" %}
    <section class="flex-nav__body cuckoo-analysis" tabindex="0">

        <header class="cuckoo-analysis__header">
            <h1>Network Analysis</h1>
            <div class="header-right valign-bottom">
                <a href="{% url "analysis.views.full_memory_dump_file" report.analysis.info.id %}" title="Download pcap file"><i class="fa fa-download"></i> Download Full Memory Dump</a>
            </div>
        </header>

        <div class="tabbable tabs">
            <ul class="nav nav-pills" style="margin-bottom: 0;">
                <li class="active"><a href="#memory_pslist" data-toggle="tab">Process List</a></li>
                <li><a href="#memory_svcscan" data-toggle="tab">Services</a></li>
                <li><a href="#memory_modscan" data-toggle="tab">Kernel Modules</a></li>
                <li><a href="#memory_devicetree" data-toggle="tab">Device Tree</a></li>
                <li><a href="#memory_malfind" data-toggle="tab">Code Injection</a></li>
                <li><a href="#memory_timers" data-toggle="tab">Timers</a></li>
                <li><a href="#memory_messagehooks" data-toggle="tab">Messagehooks</a></li>
                <li><a href="#memory_apihooks" data-toggle="tab">API Hooks</a></li>
                <li><a href="#memory_callbacks" data-toggle="tab">Callbacks</a></li>
                <li><a href="#memory_yarascan" data-toggle="tab">Yarascan</a></li>
                <li><a href="#memory_ssdt" data-toggle="tab">SSDT</a></li>
                <li><a href="#memory_idt" data-toggle="tab">IDT</a></li>
                <li><a href="#memory_gdt" data-toggle="tab">GDT</a></li>
                <li><a href="#memory_sockets" data-toggle="tab">Sockets</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="memory_pslist">
                    {% include "analysis/pages/memory/_pslist.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_svcscan">
                    {% include "analysis/pages/memory/_svcscan.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_modscan">
                    {% include "analysis/pages/memory/_modscan.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_devicetree">
                    {% include "analysis/pages/memory/_devicetree.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_malfind">
                    {% include "analysis/pages/memory/_malfind.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_apihooks">
                    {% include "analysis/pages/memory/_apihooks.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_ssdt">
                    {% include "analysis/pages/memory/_ssdt.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_idt">
                    {% include "analysis/pages/memory/_idt.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_gdt">
                    {% include "analysis/pages/memory/_gdt.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_timers">
                    {% include "analysis/pages/memory/_timers.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_messagehooks">
                    {% include "analysis/pages/memory/_messagehooks.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_yarascan">
                    {% include "analysis/pages/memory/_yarascan.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_callbacks">
                    {% include "analysis/pages/memory/_callbacks.html" %}
                </div>
                <div class="tab-pane fade in" id="memory_sockets">
                    {% if report.analysis.memory.sockscan %}
                        {% include "analysis/pages/memory/_sockscan.html" %}
                    {% elif report.analysis.memory.netscan %}
                        {% include "analysis/pages/memory/_netscan.html" %}
                    {% endif %}
                </div>
            </div>
        </div>

    </section>
</div>

{% endblock %}
